db.sqlite3
helli5/__pycache__/
postingApp/__pycache__/
postingApp/migrations/0007_auto_20191213_1744.py
postingApp/migrations/0008_auto_20191217_1213.py
postingApp/migrations/0009_auto_20191220_1319.py
postingApp/migrations/0010_auto_20191220_1323.py
postingApp/migrations/
honorsApp/migrations/
courseApp/migrations/
smsApp/migrations/

uploads/
.idea/
__pycache__/
courseApp/__pycache__/
honorsApp/__pycache__/
loginApp/__pycache__/
loginApp/migrations/
media/thumbnails/
staticfiles/
