figure{
    margin: auto;
    width: 300px;
    padding: 20px;
    box-shadow: 5px 5px 5px gray;
    transform: rotate(0deg);
    transition: transform 1s;
}

figure:hover{
    transform: rotate(10deg);
}

figcaption{
    text-align: center;
}

img{
    width: 100%;
}