{% extends 'base.html' %}
{% load static %}
{% block title %} درباره ما {% endblock %}
{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static '/images/حیاط-دبیرستان-علامه-حلی-۵.JPG' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 style="font-family: Vazir-Bold" class="mb-2 bread">درباره ما</h1>
                <p style="font-family: Vazir-Medium" class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">صفحه نخست <i
                        class="ion-ios-arrow-back"></i></a></span> <span>درباره ما <i
                        class="ion-ios-arrow-back"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section dir="rtl" class="ftco-section ftco-no-pt ftc-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-md-5 order-md-last wrap-about py-5 wrap-about bg-light">
                <div class="text px-4 ftco-animate">
                    <!--                    <h2 style="color:#9d6d4d; font-family:Vazir-Bold" class="mb-4">عنوانی انتخاب نشده است</h2>-->
                    <br>
                    <p style="font-family:Vazir-Medium; text-align: justify">
                        ايده اوليه تاسيس دبيرستان استعداد درخشان علامه حلي ۵ در سال ۸۹ و در جمعي از فارغ التحصيلان و
                        دانشجويان دانشگاه صنعتي شريف در بستري فرهنگي و با هدف آموزش تيزهوشان شکل گرفت. جمعي از مدال
                        داران المپیاد و رتبه هاي برتر کنکور با انگيزه فعاليت هائي در حوزه ي اجتماعي و انساني به طور هرچه
                        مستقيم تر به دنبال ايجاد محيطي براي رشد چندجانبه شخصيتي، روحي و علمي و مهارتي تعدادي از جوانان
                        بودند که نزد خود اين محيط را "مدرسه زندگي" مي ناميدند.
                    </p>
                    <p style="font-family:Vazir-Medium; text-align: justify">
                        سپس به مدت يک سال و نيم، تحقيقات در جزئيات آموزشي، فرهنگي و گردش کارها و بسترسازي براي اجرائي
                        شدن پروژه و رفع موانع اجرائي انجام پذيرفت که در ارديبهشت ماه ۸۹ پس از جذب ۱۲۰ دانش آموز در پايه
                        اول و در منطقه ۶، دبيرستان شروع به فعاليت کرد. در اين راستا، طرح تاسيس و تقويم اجرائي دبيرستان
                        با مشورت ۵ نفر از افراد با سابقه و ماهر در تعليم و تربيت نوشته شد. کارهاي اجرایي اعم از تجهيز
                        آزمايشگاه ها، کلاس ها و کارگاه هاي پژوهشي انجام شد. گروه هاي آموزشي و پژوهشي با جذب سرگروه ها از
                        بهترين هاي هر رشته در مجموعه سمپاد انجام شد و هر سال به کيفيت بخشي و اصلاح کادر و جذب بهترين
                        نيروها اقدام شد.
                    </p>
                    <!--                    <p style="font-family:Vazir-Medium"><a href="#" class="btn btn-secondary px-4 py-3">بیشتر-->
                    <!--                        بخوانید</a></p>-->
                </div>
            </div>
            <div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
                <h2 style="color:#9d6d4d ;font-family:Vazir-Bold" class="mb-4">چرا ما ؟</h2>
                <p style="font-family:Vazir-Medium; text-align: justify">
                    به روایت آمار و گفته بسیاری از فعالین حوزه سمپاد، این مرکز علاوه بر کسب نتایج بسیار درخشان درحوزه
                    های آموزشی، پژوهشی و المپیاد، به الگوی تعالی برای سایر مدارس سمپاد نیز تبدیل شده است.
                </p>
                <p style="font-family:Vazir-Medium; text-align: justify">
                    نظام آموزشی حلی۵، برگرفته از نظام آموزشی قدیم سمپاد و دارای طرح درس های پیوسته سه ساله، عمیق و
                    خلاقانه بوده که با استفاده از تجربیات اساتید برجسته و قدیمی سمپاد طراحی شده است.

                </p>
                <div class="row mt-5">
                    <div class="col-lg-12">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center" style="background: #294223"><span
                                    class="flaticon-education"></span></div>
                            <div class="text">
                                <h3 style="margin-right:5%; color:#9d6d4d ;font-family:Vazir-Bold">دستاورد های
                                    آموزشی</h3>
                                <p style="margin-right:5%; font-family:Vazir-Medium; text-align: justify">
                                    دانش آموزان حلی۵ موفق به کسب ۲ رتبه تک رقمی کشوری و
                                    ۱۳ رتبه دو رقمی منطقه یک شده اند
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center" style="background: #294223"><span
                                    class="flaticon-diploma"></span></div>
                            <div class="text">
                                <h3 style="margin-right:5%; color:#9d6d4d ;font-family:Vazir-Bold">المپیاد های علمی</h3>
                                <p style="margin-right:5%; font-family:Vazir-Medium; text-align: justify;">
                                    دانش آموزان این مرکز در ۴ دوره موفق به کسب ۴ طلا ۳ نقره و ۱۰ برنز کشوری
                                    شده اند.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center" style="background: #294223"><span
                                    class="flaticon-jigsaw"></span></div>
                            <div class="text">
                                <h3 style="margin-right:5%; color:#9d6d4d ;font-family:Vazir-Bold">فعالیت های
                                    پژوهشی</h3>
                                <p style="margin-right:5%; font-family:Vazir-Medium; text-align: justify;">
                                    هرساله نمایشگاه دستاوردهای پژوهشی دانش آموزان با عنوان سمینار برگزار می گردد.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'school_history.html' %}

<section class="ftco-section testimony-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 style="font-family: Vazir-Bold" class="mb-4 text-center">برخی از دانش آموختگان</h2>
                <p style="font-family: Vazir-Medium" class="text-center">افتخارات کسب شده توسط دانش آموزان دبیرستان
                    علامه حلی ۵ در ادوار گذشته</p>
            </div>
        </div>
        <div class="row ftco-animate justify-content-center">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel">

                    <!--                    TODO: Add picture to each item
                                                    and read items from db -->

                    <div class="item">
                        <div class="testimony-wrap d-flex">
                            <div class="user-img mr-4 bg-dark"
                                 style="background-image: url({% static 'images/Logo1.png' %})">
                            </div>
                            <div class="text ml-2 bg-light">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                                <p style="font-family: Vazir-Medium" class="name">محمدامین سالارکیا</p>
                                <br>
                                <p style="font-family: Vazir-Medium">
                                    رتبه ۶ منطقه ۱ (رتبه ۸ کشوری) در کنکور سراسری ریاضی
                                    <br>
                                    مدال نقره ی المپیاد فیزیک کشوری
                                    <br>
                                    دانشجوی مهندسی کامپیوتر دانشگاه شریف
                                </p>
                                <span style="font-family: Vazir-Medium"
                                      class="position">دانش آموز دوره۲ علامه حلی۵</span>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="testimony-wrap d-flex">
                            <div class="user-img mr-4 bg-dark"
                                 style="background-image: url({% static 'images/Logo1.png' %})">
                            </div>
                            <div class="text ml-2 bg-light">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                                <p style="font-family: Vazir-Medium" class="name">امیررضا پاشاپور</p>
                                <br>
                                <p style="font-family: Vazir-Medium">
                                    رتبه ۳ منطقه ۱ (رتبه ۸ کشوری) در کنکور سراسری تجربی
                                    <br>
                                    مدال برنز المپیاد سلول های بنیادی
                                    <br>
                                    دانشجوی پزشکی دانشگاه تهران
                                </p>
                                <span style="font-family: Vazir-Medium"
                                      class="position">دانش آموز دوره۳ علامه حلی۵</span>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="testimony-wrap d-flex">
                            <div class="user-img mr-4 bg-dark"
                                 style="background-image: url({% static 'images/Logo1.png' %})">
                            </div>
                            <div class="text ml-2 bg-light">
                  	<span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                                <p style="font-family: Vazir-Medium" class="name">سیدمهدی صادق شبیری</p>
                                <br>
                                <p style="font-family: Vazir-Medium">
                                    مدال برنز المپیاد جهانی کامپیوتر ژاپن ۲۰۱۸
                                    <br>
                                    دانشجوی مهندسی کامپیوتر دانشگاه شریف
                                </p>
                                <span style="font-family: Vazir-Medium"
                                      class="position">دانش آموز دوره۴ علامه حلی۵</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-gallery">
    <div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 ftco-animate">
                <a href="{% static 'images/DSC_0044_Resized.jpg' %}"
                   class="gallery image-popup img d-flex align-items-center"
                   style="background-image: url({% static 'images/DSC_0044_Resized.jpg' %});">
                    <div style="background: #1c7430" class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-zoom_in"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="{% static 'images/C-_Users_Mohamma_Desktop_DSC_00672.jpg' %}"
                   class="gallery image-popup img d-flex align-items-center"
                   style="background-image: url({% static 'images/C-_Users_Mohamma_Desktop_DSC_00672.jpg' %});">
                    <div style="background: #1c7430" class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-zoom_in"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="{% static 'images/DSC_0035_Resized.jpg' %}"
                   class="gallery image-popup img d-flex align-items-center"
                   style="background-image: url({% static 'images/DSC_0035_Resized.jpg' %});">
                    <div style="background: #1c7430" class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-zoom_in"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="{% static 'images/DSC_0037_Resized.jpg' %}"
                   class="gallery image-popup img d-flex align-items-center"
                   style="background-image: url({% static 'images/DSC_0037_Resized.jpg' %});">
                    <div style="background: #1c7430" class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-zoom_in"></span>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>
{% endblock %}
