{% extends 'base.html' %}
{% load static %}
{% block title %} درباره ما | وبسایت دبیرستان دوره دوم علامه حلی ۵ تهران {% endblock %}
{% block extra_head %}
<style>
    [data-fslightbox] img {
        object-fit: cover;
    }
</style>
{% endblock %}
{% block content %}
<header class="hero">
    <div class="hero-image" style="background-image: url({% static '/images/حیاط-دبیرستان-علامه-حلی-۵.JPG' %});"></div>
    <h1 class="display-3">درباره ما</h1>
</header>

<main class="container my-5">
    <div class="row gx-5">
        <div class="col col-12 col-md-8 lh-lg">
            <h2 class="mb-3">چرا ما؟</h2>
            <p>
                به روایت آمار و گفته بسیاری از فعالین حوزه سمپاد، این مرکز علاوه بر کسب نتایج بسیار درخشان درحوزه های
                آموزشی، پژوهشی و
                المپیاد، به الگوی تعالی برای سایر مدارس سمپاد نیز تبدیل شده است.
                <br>
                نظام آموزشی حلی۵، برگرفته از نظام آموزشی قدیم سمپاد و دارای طرح درس های پیوسته سه ساله، عمیق و خلاقانه
                بوده که با
                استفاده از تجربیات اساتید برجسته و قدیمی سمپاد طراحی شده است.
            </p>
            <h3 class="my-3">دست‌آوردهای آموزشی</h3>
            <p>
                دانش‌آموزان حلی۵ موفق به کسب ۲ رتبه تک رقمی کشوری و ۱۳ رتبه دو رقمی منطقه یک شده‌اند
            </p>
            <h3 class="my-3">المپیادهای علمی</h3>
            <p>
                دانش‌آموزان این مرکز در ۴ دوره موفق به کسب ۴ طلا ۳ نقره و ۱۰ برنز کشوری شده‌اند.
            </p>
            <h3 class="my-3">فعالیت‌های پژوهشی</h3>
            <p>
                هرساله نمایشگاه دستاوردهای پژوهشی دانش‌آموزان با عنوان سمینار برگزار می گردد.
            </p>
        </div>
        <div class="col col-12 col-md-4 lh-lg text-muted">
            ایده اولیه تاسیس دبیرستان استعداد درخشان علامه حلی ۵ در سال ۸۹ و در جمعی از فارغ‌التحصیلان و دانشجویان
            دانشگاه صنعتی
            شریف در بستری فرهنگی و با هدف آموزش تیزهوشان شکل گرفت. جمعی از مدال داران المپیاد و رتبه های برتر کنکور با
            انگیزه فعالیت
            هائی در حوزه ی اجتماعی و انسانی به طور هرچه مستقیم تر به دنبال ایجاد محیطی برای رشد چندجانبه شخصیتی، روحی و
            علمی و
            مهارتی تعدادی از جوانان بودند که نزد خود این محیط را «مدرسه زندگی» می‌نامیدند.
            <br>
            سپس به مدت یک سال و نیم، تحقیقات در جزئیات آموزشی، فرهنگی و گردش کارها و بسترسازی برای اجرائی شدن پروژه و
            رفع موانع
            اجرائی انجام پذیرفت که در اردیبهشت ماه ۸۹ پس از جذب ۱۲۰ دانش‌آموز در پایه اول و در منطقه ۶، دبیرستان شروع به
            فعالیت کرد.
            در این راستا، طرح تاسیس و تقویم اجرائی دبیرستان با مشورت ۵ نفر از افراد با سابقه و ماهر در تعلیم و تربیت
            نوشته شد.
            کارهای اجرایی اعم از تجهیز آزمایشگاه ها، کلاس ها و کارگاه های پژوهشی انجام شد. گروه های آموزشی و پژوهشی با
            جذب سرگروه ها
            از بهترین های هر رشته در مجموعه سمپاد انجام شد و هر سال به کیفیت بخشی و اصلاح کادر و جذب بهترین نیروها اقدام
            شد.
        </div>
    </div>
</main>

{% include 'school_history.html' %}

<section class="my-5">
    <div class="container text-center">
        <h1>برخی از دانش‌آموختگان</h1>
        <p>افتخارات کسب‌شده توسط دانش‌آموزان دبیرستان علامه حلی پنج در ادوار گذشته</p>
        <div class="row text-start mt-5">
            <div class="col col-12 col-md-4">
                <h3>محمدامین سالارکیا</h3>
                <h6 class="text-muted">دانش‌آموز دوره ۲ علامه حلی ۵</h6>
                <p class="text-muted">
                    رتبه ۶ منطقه ۱ (رتبه ۸ کشوری) در کنکور سراسری ریاضی
                    <br>
                    مدال نقره ی المپیاد فیزیک کشوری
                    <br>
                    فارغ‌التحصیل مهندسی کامپیوتر دانشگاه شریف
                </p>
            </div>
            <div class="col col-12 col-md-4">
                <h3>امیررضا پاشاپور</h3>
                <h6 class="text-muted">دانش‌آموز دوره ۳ علامه حلی ۵</h6>
                <p class="text-muted">
                    رتبه ۳ منطقه ۱ (رتبه ۸ کشوری) در کنکور سراسری تجربی
                    <br>
                    مدال برنز المپیاد سلول های بنیادی
                    <br>
                    دانشجوی پزشکی دانشگاه تهران
                </p>
            </div>
            <div class="col col-12 col-md-4">
                <h3>سیدمهدی صادق شبیری</h3>
                <h6 class="text-muted">دانش‌آموز دوره ۴ علامه حلی ۵</h6>
                <p class="text-muted">
                    مدال برنز المپیاد جهانی کامپیوتر ژاپن ۲۰۱۸
                    <br>
                    دانشجوی مهندسی کامپیوتر دانشگاه شریف
                </p>
            </div>
        </div>
    </div>
</section>

<div class="row g-0" id="images">
    <div class="col col-6 col-md-3">
        <a href="{% static 'images/کتابخانه-دبیرستان-علامه-حلی۵.jpg' %}" data-fslightbox="gallery" class="ratio ratio-4x3">
            <img src="{% static 'images/کتابخانه-دبیرستان-علامه-حلی۵.jpg' %}" class="w-100">
        </a>
    </div>
    <div class="col col-6 col-md-3">
        <a href="{% static 'images/راهرو-امتحانات-دبیرستان-علامه-حلی۵.jpg' %}" data-fslightbox="gallery" class="ratio ratio-4x3">
            <img src="{% static 'images/راهرو-امتحانات-دبیرستان-علامه-حلی۵.jpg' %}" alt="" class="w-100">
        </a>
    </div>
    <div class="col col-6 col-md-3">
        <a href="{% static 'images/ورودی-اصلی-دبیرستان-علامه-حلی۵.jpg' %}" data-fslightbox="gallery" class="ratio ratio-4x3">
            <img src="{% static 'images/ورودی-اصلی-دبیرستان-علامه-حلی۵.jpg' %}" alt="" class="w-100">
        </a>
    </div>
    <div class="col col-6 col-md-3">
        <a href="{% static 'images/دبیرستان-پسرانه-علامه-حلی۵-دوره-دوم.jpg' %}" data-fslightbox="gallery" class="ratio ratio-4x3">
            <img src="{% static 'images/دبیرستان-پسرانه-علامه-حلی۵-دوره-دوم.jpg' %}" alt="" class="w-100">
        </a>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/fslightbox@3.3.1/index.js"></script>
{% endblock %}