<!DOCTYPE html>
{% load static %}
<html lang="fa">

<head>
    <title>{% block title %}وبسایت دبیرستان دوره دوم علامه حلی ۵ تهران{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:title" content="دبیرستان علامه حلی ۵ دوره دوم" />
    <meta property="og:site_name" content="سایت دبیرستان علامه حلی ۵" />
    <meta property="og:description" content="دبیرستان متوسطه دوم علامه حلی ۵ تهران" />
    <meta property="og:image" content="{% static 'images/لوگو-علامه-حلی۵.png' %}" />

    <meta name="description" content="{% block meta_description %}
    وبسایت دبیرستان پسرانه ی تیزهوشان دوره دوم علامه حلی ۵ تهران (سمپاد)
    {% endblock %}">

    <!-- generics -->
    <link rel="icon" href="{% static 'images/icons/favicon-32.png' %}" sizes="32x32">
    <link rel="icon" href="{% static 'images/icons/favicon-57.png' %}" sizes="57x57">
    <link rel="icon" href="{% static 'images/icons/favicon-76.png' %}" sizes="76x76">
    <link rel="icon" href="{% static 'images/icons/favicon-96.png' %}" sizes="96x96">
    <link rel="icon" href="{% static 'images/icons/favicon-128.png' %}" sizes="128x128">
    <link rel="icon" href="{% static 'images/icons/favicon-192.png' %}" sizes="192x192">
    <link rel="icon" href="{% static 'images/icons/favicon-228.png' %}" sizes="228x228">

    <!-- Android -->
    <link rel="shortcut icon" sizes="196x196" href=“{% static 'images/icons/favicon-196.png' %}">

    <!-- iOS -->
    <link rel="apple-touch-icon" href="{% static 'images/icons/favicon-120.png' %}" sizes="120x120">
    <link rel="apple-touch-icon" href="{% static 'images/icons/favicon-152.png' %}" sizes="152x152">
    <link rel="apple-touch-icon" href="{% static 'images/icons/favicon-180.png' %}" sizes="180x180">

    <!-- Windows 8 IE 10-->
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{% static 'images/icons/favicon-144.png' %}">

    <!-- Windows 8.1 + IE11 and above -->
    <meta name="msapplication-config" content="{% static 'browserconfig.xml' %}" />

    <meta name="theme-color" content="#FFFCE3">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;500;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/hero.css' %}">

{% block extra_head %} {% endblock %}

</head>

<body dir="rtl">
    {% include 'navbar.html' %}
    {% block content %} {% endblock %}
    {% include 'footer.html' %}
    {% include 'loader.html' %}
    {% include 'scripts.html' %}
    {% block extra_js %} {% endblock %}
</body>

</html>