{% extends 'base.html' %}
{% load static %}

{% block content %}


<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_2.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 style="font-family: Vazir-Bold" class="mb-2 bread">بلاگ</h1>
                <p style="font-family: Vazir-Medium" class="breadcrumbs"><span class="mr-2"><a href="index.html">صفحه اصلی <i
                        class="ion-ios-arrow-back"></i></a></span> <span>بلاگ <i
                        class="ion-ios-arrow-back"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section>
    {% if user.is_authenticated and not user.profile.role.is_student %}
    <p class="mb-0"><a href="{% url 'add_post' %}" class="btn btn-secondary">نوشته ی جدید<span
            class="icon-plus"></span></a></p>
    {% endif %}
</section>

<section class="ftco-section bg-light" dir="rtl">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 ftco-animate">
                <div class="blog-entry" dir="ltr"
                     style="border-bottom-left-radius:20px; border-top-right-radius:20px; box-shadow: 0 8px 10px 0 rgba(0, 0, 0, .12), 0 10px 15px 0 rgba(0, 0, 0, .10)">
                    <a href="blog-single.html" class="block-20 d-flex align-items-end"
                       style="background-image: url({% static 'images/image_1.jpg' %});border-top-right-radius: 20px">
                        <div class="meta-date text-center p-2" style="border-top-right-radius: 20px; background: #2A4324">
                            <span style="font-family: Vazir-Medium" class="day">24</span>
                            <span style="font-family: Vazir-Medium" class="mos">آذر</span>
                            <span style="font-family: Vazir-Medium" class="yr">1398</span>
                        </div>
                    </a>
                    <div class="text bg-white p-4" style="border-bottom-left-radius: 20px">
                        <h3 style="font-family: Vazir-Bold" class="heading"><a href="#">عنوان ست شود</a></h3>
                        <p style="font-family: Vazir-Medium">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                            با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                            لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                            کاربردی می باشد. </p>
                        <div style="direction: rtl" class="d-flex align-items-center mt-4">
                            <p class="ml-auto mb-0">
                                <a style="font-family: Vazir-Medium" style="margin-right: 10px" href="#" class="mr-2">حسن</a>
                                <a style="font-family: Vazir-Medium" href="#" class="meta-chat"><span
                                        class="icon-chat"></span> 3</a>
                            </p>
                            <p style="font-family: Vazir-Medium" class="mb-0"><a href="#" class="btn btn-secondary">بیشتر
                                بخوانید <span
                                        class="ion-ios-arrow-round-back"></span></a></p>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 ftco-animate">
                <div class="blog-entry" dir="ltr"
                     style="border-bottom-left-radius:20px; border-top-right-radius:20px; box-shadow: 0 8px 10px 0 rgba(0, 0, 0, .12), 0 10px 15px 0 rgba(0, 0, 0, .10)">
                    <a href="blog-single.html" class="block-20 d-flex align-items-end"
                       style="background-image: url({% static 'images/image_1.jpg' %});border-top-right-radius: 20px">
                        <div class="meta-date text-center p-2" style="border-top-right-radius: 20px; background: #2A4324">
                            <span style="font-family: Vazir-Medium" class="day">24</span>
                            <span style="font-family: Vazir-Medium" class="mos">آذر</span>
                            <span style="font-family: Vazir-Medium" class="yr">1398</span>
                        </div>
                    </a>
                    <div class="text bg-white p-4" style="border-bottom-left-radius: 20px">
                        <h3 style="font-family: Vazir-Bold" class="heading"><a href="#">عنوان ست شود</a></h3>
                        <p style="font-family: Vazir-Medium">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                            با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                            لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                            کاربردی می باشد. </p>
                        <div style="direction: rtl" class="d-flex align-items-center mt-4">
                            <p class="ml-auto mb-0">
                                <a style="font-family: Vazir-Medium" style="margin-right: 10px" href="#" class="mr-2">حسن</a>
                                <a style="font-family: Vazir-Medium" href="#" class="meta-chat"><span
                                        class="icon-chat"></span> 3</a>
                            </p>
                            <p style="font-family: Vazir-Medium" class="mb-0"><a href="#" class="btn btn-secondary">بیشتر
                                بخوانید <span
                                        class="ion-ios-arrow-round-back"></span></a></p>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 ftco-animate">
                <div class="blog-entry" dir="ltr"
                     style="border-bottom-left-radius:20px; border-top-right-radius:20px; box-shadow: 0 8px 10px 0 rgba(0, 0, 0, .12), 0 10px 15px 0 rgba(0, 0, 0, .10)">
                    <a href="blog-single.html" class="block-20 d-flex align-items-end"
                       style="background-image: url({% static 'images/image_1.jpg' %});border-top-right-radius: 20px">
                        <div class="meta-date text-center p-2" style="border-top-right-radius: 20px; background: #2A4324">
                            <span style="font-family: Vazir-Medium" class="day">24</span>
                            <span style="font-family: Vazir-Medium" class="mos">آذر</span>
                            <span style="font-family: Vazir-Medium" class="yr">1398</span>
                        </div>
                    </a>
                    <div class="text bg-white p-4" style="border-bottom-left-radius: 20px">
                        <h3 style="font-family: Vazir-Bold" class="heading"><a href="#">عنوان ست شود</a></h3>
                        <p style="font-family: Vazir-Medium">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                            با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                            لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                            کاربردی می باشد. </p>
                        <div style="direction: rtl" class="d-flex align-items-center mt-4">
                            <p class="ml-auto mb-0">
                                <a style="font-family: Vazir-Medium" style="margin-right: 10px" href="#" class="mr-2">حسن</a>
                                <a style="font-family: Vazir-Medium" href="#" class="meta-chat"><span
                                        class="icon-chat"></span> 3</a>
                            </p>
                            <p style="font-family: Vazir-Medium" class="mb-0"><a href="#" class="btn btn-secondary">بیشتر
                                بخوانید <span
                                        class="ion-ios-arrow-round-back"></span></a></p>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 ftco-animate">
                <div class="blog-entry" dir="ltr"
                     style="border-bottom-left-radius:20px; border-top-right-radius:20px; box-shadow: 0 8px 10px 0 rgba(0, 0, 0, .12), 0 10px 15px 0 rgba(0, 0, 0, .10)">
                    <a href="blog-single.html" class="block-20 d-flex align-items-end"
                       style="background-image: url({% static 'images/image_1.jpg' %});border-top-right-radius: 20px">
                        <div class="meta-date text-center p-2" style="border-top-right-radius: 20px; background: #2A4324">
                            <span style="font-family: Vazir-Medium" class="day">24</span>
                            <span style="font-family: Vazir-Medium" class="mos">آذر</span>
                            <span style="font-family: Vazir-Medium" class="yr">1398</span>
                        </div>
                    </a>
                    <div class="text bg-white p-4" style="border-bottom-left-radius: 20px">
                        <h3 style="font-family: Vazir-Bold" class="heading"><a href="#">عنوان ست شود</a></h3>
                        <p style="font-family: Vazir-Medium">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                            با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                            لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                            کاربردی می باشد. </p>
                        <div style="direction: rtl" class="d-flex align-items-center mt-4">
                            <p class="ml-auto mb-0">
                                <a style="font-family: Vazir-Medium" style="margin-right: 10px" href="#" class="mr-2">حسن</a>
                                <a style="font-family: Vazir-Medium" href="#" class="meta-chat"><span
                                        class="icon-chat"></span> 3</a>
                            </p>
                            <p style="font-family: Vazir-Medium" class="mb-0"><a href="#" class="btn btn-secondary">بیشتر
                                بخوانید <span
                                        class="ion-ios-arrow-round-back"></span></a></p>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 ftco-animate">
                <div class="blog-entry" dir="ltr"
                     style="border-bottom-left-radius:20px; border-top-right-radius:20px; box-shadow: 0 8px 10px 0 rgba(0, 0, 0, .12), 0 10px 15px 0 rgba(0, 0, 0, .10)">
                    <a href="blog-single.html" class="block-20 d-flex align-items-end"
                       style="background-image: url({% static 'images/image_1.jpg' %});border-top-right-radius: 20px">
                        <div class="meta-date text-center p-2" style="border-top-right-radius: 20px; background: #2A4324">
                            <span style="font-family: Vazir-Medium" class="day">24</span>
                            <span style="font-family: Vazir-Medium" class="mos">آذر</span>
                            <span style="font-family: Vazir-Medium" class="yr">1398</span>
                        </div>
                    </a>
                    <div class="text bg-white p-4" style="border-bottom-left-radius: 20px">
                        <h3 style="font-family: Vazir-Bold" class="heading"><a href="#">عنوان ست شود</a></h3>
                        <p style="font-family: Vazir-Medium">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                            با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                            لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                            کاربردی می باشد. </p>
                        <div style="direction: rtl" class="d-flex align-items-center mt-4">
                            <p class="ml-auto mb-0">
                                <a style="font-family: Vazir-Medium" style="margin-right: 10px" href="#" class="mr-2">حسن</a>
                                <a style="font-family: Vazir-Medium" href="#" class="meta-chat"><span
                                        class="icon-chat"></span> 3</a>
                            </p>
                            <p style="font-family: Vazir-Medium" class="mb-0"><a href="#" class="btn btn-secondary">بیشتر
                                بخوانید <span
                                        class="ion-ios-arrow-round-back"></span></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters my-5" dir="ltr">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        <li style="border-color:#2A4324"><a href="#"><i style="color:#2A4324;" class="ion-ios-arrow-back"></i></a></li>
                        <li class="active"><span >1</span></li>
                        <li><a style="color:#2A4324" href="#">2</a></li>
                        <li><a style="color:#2A4324 "href="#">3</a></li>
                        <li><a style="color:#2A4324" href="#">4</a></li>
                        <li><a style="color:#2A4324" href="#">5</a></li>
                        <li><a style="color:#2A4324" href="#"><i class="ion-ios-arrow-forward"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}









