{% extends 'base.html' %}
{% load static %}
{% block title %} بلاگ | وبسایت دبیرستان دوره دوم علامه حلی ۵ تهران {% endblock %}
{% block content %}

<header class="hero">
    <div class="hero-image" style="background-image: url({% static 'images/راهرو-دبیرستان-علامه-حلی۵.jpg' %});"></div>
    <h1 class="display-3">
        آرشیو مطالب
        {% if tagged_blog != 'None' %}
            ({{tagged_blog}})
        {% endif %}
    </h1>
</header>

<main class="container pt-3 pt-md-5 mb-5">
    <div class="row gx-md-5 gy-4">
        <div class="col col-12 col-md-7">
            {% if queryset %}
            {% for post in queryset %}
            <div class="card bg-light border-0 shadow-sm mb-3">
                <div class="card-body">
                    <h4 class="card-title">{{ post.title }}</h4>
                    <h6 class="card-subtitle text-muted">نوشته: {{ post.username.user.last_name }} &bull;
                        {{post.date|date:"Y/m/d" }}</h6>
                    <div class="card-text text-muted mt-3">
                        {{ post.description }}... <a href="{{ post.get_absolute_url }}" class="stretched-link">بیش‌تر
                            بخوانید</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <nav class="mt-4 text-center">
                <ul class="pagination w-100 justify-content-center">
                    {% if queryset.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?{{ page_request_var }}={{ queryset.previous_page_number }}">قبلی</a>
                    </li>
                    {% endif %}
                    <li class="page-item active">
                        <a class="page-link"
                            href="?{{ page_request_var }}={{ queryset.number }}">{{queryset.number}}</a>
                    </li>
                    {% if queryset.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?{{ page_request_var }}={{ queryset.next_page_number }}">بعدی</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
        <div class="col col-12 col-md-5">
            <form action="{% url 'search' %}" class="mb-5 mt-5 mt-md-0">
                <div class="row gx-1">
                    <div class="col">
                        <input type="search" name="search" class="form-control" placeholder="عنوانی را جست‌وجو کنید..." required>
                    </div>
                    <div class="col col-auto">
                        <button class="btn btn-primary" type="submit">جست‌وجو</button>
                    </div>
                </div>
            </form>

            <h3 class="mb-3">مطالب مهم</h3>
            {% for post in featured_posts %}
            <div class="card bg-light border-0 shadow-sm mb-3">
                <div class="card-body">
                    <h4 class="card-title">{{ post.title }}</h4>
                    <h6 class="card-subtitle text-muted">
                        نوشته: {{ post.username.user.last_name }} &bull; {{ post.date|date:"Y/m/d"}}
                    </h6>
                    <div class="card-text text-muted mt-3">
                        {{ post.description }}... <a href="{{ post.get_absolute_url }}" class="stretched-link">بیش‌تر
                            بخوانید</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <h3 class="mt-5 mb-3">تگ‌ها</h3>
            {% for cat in categories %}
            <a class="badge bg-secondary text-bg-secondary text-decoration-none fs-6 mb-1"
                href="{% url 'blog' tag=cat.title %}">{{ cat.title }}</a>
            {% endfor %}
        </div>
    </div>
</main>

{% endblock %}