{% extends 'base.html' %}
{% load static %}

{% block title %} تک صفحه بلاگ {% endblock %}

{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/blog.png' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 style="font-family: Vazir-Bold" class="mb-2 bread">صفحه تک پست</h1>
                <p style="font-family: Vazir-Medium" class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">صفحه نخست <i
                        class="ion-ios-arrow-back"></i></a></span> <span class="mr-2"><a href="{% url 'blog' %}">بلاگ <i
                        class="ion-ios-arrow-back"></i></a></span> <span>تک پست <i
                        class="ion-ios-arrow-back"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ftco-animate">
                <h2 style="color:#9d6d4d; font-family: Vazir-Bold" class="mb-3">عنوان پست در اینجا قرار گیرد</h2>
                <p style="font-family: Vazir-Medium">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                    برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای
                    زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها
                    شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                    در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد
                    وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا
                    مورد استفاده قرار گیرد.</p>
                <p>
                    <img src="{% static 'images/image_2.jpg' %}" alt="" class="img-fluid">
                </p>
                <p style="font-family: Vazir-Medium">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                    برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای
                    زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها
                    شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                    در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد
                    و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا
                    مورد استفاده قرار گیرد. </p>
                <p style="font-family: Vazir-Medium">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                    برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای
                    زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها
                    شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                    در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد
                    و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا
                    مورد استفاده قرار گیرد. </p>
                <p style="font-family: Vazir-Medium">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                    برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای
                    زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها
                    شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                    در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد
                    و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا
                    مورد استفاده قرار گیرد. </p>
                <p style="font-family: Vazir-Medium">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                    برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای
                    زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها
                    شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                    در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد
                    و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا
                    مورد استفاده قرار گیرد. </p>
                <div style="text-align: right" class="tag-widget post-tag-container mb-5 mt-5">
                    <div class="tagcloud">
                        <a style="font-family: Vazir-Medium" href="#" class="tag-cloud-link">تگ اول</a>
                        <a style="font-family: Vazir-Medium" href="#" class="tag-cloud-link">تگ دوم</a>
                        <a style="font-family: Vazir-Medium" href="#" class="tag-cloud-link">تگ سوم</a>
                        <a style="font-family: Vazir-Medium" href="#" class="tag-cloud-link">تگ چهارم</a>
                    </div>
                </div>

                <div style="direction: rtl" class="about-author d-flex p-4 bg-light">
                    <div style="margin-left: 5%" class="bio mr-5">
                        <img src="{% static 'images/teacher-1.jpg' %}" alt="Image placeholder" class="img-fluid mb-4">
                    </div>
                    <div class="desc">
                        <h3 style="font-family: Vazir-Bold">پیام من</h3>
                        <p style="font-family: Vazir-Medium">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                            با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                            لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                            کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و
                            متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان
                            خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری
                            موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی
                            دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                            است. </p>
                    </div>
                </div>


                <div style="direction: rtl" class="pt-5 mt-5">
                    <h3 style="font-family: Vazir-Bold" class="mb-5 h4 font-weight-bold">6 نظر ثبت شده است</h3>
                    <ul class="comment-list">
                        <li class="comment">
                            <div class="comment-body">
                                <h3 style="font-family: Vazir-Bold">علی کریمی</h3>
                                <div style="text-align: right" class="meta mb-2">23 اردیبهست 1398، ساعت 12:37</div>
                                <p style="font-family: Vazir-Medium">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                                    صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در
                                    ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع
                                    با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و
                                    آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای
                                    طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. </p>
                                <p style="font-family: Vazir-Medium"><a href="#" class="reply">پاسخ</a></p>
                            </div>
                            <div class="vcard bio">
                                <img src="{% static 'images/teacher-1.jpg' %}" alt="Image placeholder">
                            </div>
                        </li>

                        <li class="comment">
                            <div class="vcard bio">
                                <img src="{% static 'images/teacher-1.jpg' %}" alt="Image placeholder">
                            </div>
                            <div class="comment-body">
                                <h3 style="font-family: Vazir-Bold">عبدل مطلب</h3>
                                <div style="font-family: Vazir-Medium; text-align: right" class="meta mb-2">19 شهریور
                                    1397، ساعت 17:19
                                </div>
                                <p style="font-family: Vazir-Medium">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                                    صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در
                                    ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع
                                    با هدف بهبود ابزارهای کاربردی می باشد. </p>
                                <p><a style="font-family: Vazir-Medium" href="#" class="reply">پاسخ</a></p>
                            </div>

                            <ul class="children">
                                <li class="comment">
                                    <div class="vcard bio">
                                        <img src="{% static 'images/teacher-1.jpg' %}" alt="Image placeholder">
                                    </div>
                                    <div class="comment-body">
                                        <h3 style="font-family: Vazir-Bold">جعفر مجیدی</h3>
                                        <div style="font-family: Vazir-Medium; text-align: right" class="meta mb-2">
                                            January 03, 2019 at
                                            2:21pm
                                        </div>
                                        <p style="font-family: Vazir-Medium">Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit. Pariatur quidem
                                            laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe
                                            enim sapiente iste iure! Quam voluptas earum impedit necessitatibus,
                                            nihil?</p>
                                        <p style="font-family: Vazir-Medium"><a href="#" class="reply">پاسخ</a></p>
                                    </div>


                                    <ul class="children">
                                        <li class="comment">
                                            <div class="vcard bio">
                                                <img src="{% static 'images/teacher-1.jpg' %}" alt="Image placeholder">
                                            </div>
                                            <div class="comment-body">
                                                <h3 style="font-family: Vazir-Bold">اضغر روح اللهی</h3>
                                                <div style="font-family: Vazir-Medium; text-align: right"
                                                     class="meta mb-2">19 مهر 1397، ساعت 10:01
                                                </div>
                                                <p style="font-family: Vazir-Medium">لورم ایپسوم متن ساختگی با تولید
                                                    سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها
                                                    و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای
                                                    شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                                                    ابزارهای کاربردی می باشد. </p>
                                                <p style="font-family: Vazir-Medium"><a href="#" class="reply">پاسخ</a>
                                                </p>
                                            </div>

                                            <ul class="children">
                                                <li class="comment">
                                                    <div class="vcard bio">
                                                        <img src="{% static 'images/teacher-1.jpg' %}"
                                                             alt="Image placeholder">
                                                    </div>
                                                    <div class="comment-body">
                                                        <h3 style="font-family: Vazir-Bold">کریم بنزما</h3>
                                                        <div style="font-family: Vazir-Medium; text-align: right"
                                                             class="meta mb-2">26تیر 1397، ساعت 18:16
                                                        </div>
                                                        <p style="font-family: Vazir-Medium">لورم ایپسوم متن ساختگی با
                                                            تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                                            گرافیک است. </p>
                                                        <p style="font-family: Vazir-Medium"><a href="#" class="reply">پاسخ</a>
                                                        </p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="comment">
                            <div class="comment-body">
                                <h3 style="font-family: Vazir-Bold">حسن حسینی</h3>
                                <div style="text-align: right" class="meta mb-2">23 اردیبهست 1398، ساعت 12:37</div>
                                <p style="font-family: Vazir-Medium">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                                    صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در
                                    ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع
                                    با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و
                                    آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای
                                    طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. </p>
                                <p style="font-family: Vazir-Medium"><a href="#" class="reply">پاسخ</a></p>
                            </div>
                            <div class="vcard bio">
                                <img src="{% static 'images/teacher-1.jpg' %}" alt="Image placeholder">
                            </div>
                        </li>
                    </ul>
                    <!-- END comment-list -->

                    <div class="comment-form-wrap pt-5">
                        <h3 style="font-family: Vazir-Bold" class="mb-5 h4 font-weight-bold">نظر ثبت کنید</h3>
                        <form action="#" class="p-5 bg-light">
                            <div class="form-group">
                                <input style="font-family: Vazir-Medium" type="text" class="form-control" id="name"
                                       placeholder="نام *">
                            </div>
                            <div class="form-group">
                                <input style="font-family: Vazir-Medium" type="email" class="form-control" id="email"
                                       placeholder="رایانامه *">
                            </div>
                            <div class="form-group">
                                <input style="font-family: Vazir-Medium" type="url" class="form-control" id="website"
                                       placeholder="تارنما">
                            </div>

                            <div class="form-group">
                                <textarea style="font-family: Vazir-Medium" name="" id="message" cols="30" rows="10"
                                          class="form-control" placeholder="پیام"></textarea>
                            </div>
                            <div class="form-group">
                                <input style="font-family: Vazir-Medium" type="submit" value="ارسال نظر"
                                       class="btn py-3 px-4 btn-primary">
                            </div>

                        </form>
                    </div>
                </div>
            </div> <!-- .col-md-8 -->

            <div style="text-align: right" class="col-lg-4 sidebar ftco-animate">
                <div dir="rtl" class="sidebar-box">
                    <form action="#" class="search-form">
                        <div class="form-group">
                            <span class="icon icon-search"></span>
                            <input style="font-family: Vazir-Medium" type="text" class="form-control"
                                   placeholder="عنوانی را جستجو کنید">
                        </div>
                    </form>
                </div>
                <div class="sidebar-box ftco-animate">
                    <h3 style="font-family: Vazir-Bold">دسته بندی</h3>
                    <ul class="categories">
                        <div class="row">
                            <div style="text-align: left" class="col-lg-4 ">
                                <span>(6)</span>
                            </div>
                            <div class="col-lg-8 ">
                                <li><a style="font-family: Vazir-Medium" href="#">دسته اول </a></li>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div style="text-align: left" class="col-lg-4 ">
                                <span>(8)</span>
                            </div>
                            <div class="col-lg-8 ">
                                <li><a style="font-family: Vazir-Medium" href="#">دسته دوم </a></li>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div style="text-align: left" class="col-lg-4 ">
                                <span>(1)</span>
                            </div>
                            <div class="col-lg-8 ">
                                <li><a style="font-family: Vazir-Medium" href="#">دسته سوم </a></li>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div style="text-align: left" class="col-lg-4 ">
                                <span>(7)</span>
                            </div>
                            <div class="col-lg-8 ">
                                <li><a style="font-family: Vazir-Medium" href="#">دسته چهارم </a></li>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div style="text-align: left" class="col-lg-4 ">
                                <span>(9)</span>
                            </div>
                            <div class="col-lg-8 ">
                                <li><a style="font-family: Vazir-Medium" href="#">دسته پنجم </a></li>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div style="text-align: left" class="col-lg-4 ">
                                <span>(5)</span>
                            </div>
                            <div class="col-lg-8 ">
                                <li><a style="font-family: Vazir-Medium" href="#">دسته ششم </a></li>
                            </div>
                        </div>
                        <hr>
                    </ul>
                </div>

                <div class="sidebar-box ftco-animate">
                    <h3 style="font-family: Vazir-Bold">پست های داغ</h3>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url({% static 'images/image_1.jpg' %});"></a>
                        <div class="text">
                            <h3 style="font-family: Vazir-Bold" class="heading"><a href="#">لورم ایپسوم متن ساختگی با
                                تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </a></h3>
                            <div class="meta">
                                <div><a style="font-family: Vazir-Medium" href="#">
                                    20 آذر 98</a><span class="icon-calendar"></span></div>
                                <div dir="rtl"><a style="font-family: Vazir-Medium" href="#"><span
                                        class="icon-person"></span>
                                    سکینه</a></div>
                                <div><a style="font-family: Vazir-Medium" href="#">
                                    10</a><span class="icon-chat"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url({% static 'images/image_2.jpg' %});"></a>
                        <div class="text">
                            <h3 style="font-family: Vazir-Bold" class="heading"><a href="#">لورم ایپسوم متن ساختگی با
                                تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </a></h3>
                            <div class="meta">
                                <div><a style="font-family: Vazir-Medium" href="#">
                                    13 اسفند 97</a><span class="icon-calendar"></span></div>
                                <div dir="rtl"><a style="font-family: Vazir-Medium" href="#"><span
                                        class="icon-person"></span>
                                    تقی</a></div>
                                <div dir="rtl"><a style="font-family: Vazir-Medium" href="#">
                                    19</a><span class="icon-chat"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url({% static 'images/image_3.jpg' %});"></a>
                        <div class="text">
                            <h3 style="font-family: Vazir-Bold" class="heading"><a href="#">لورم ایپسوم متن ساختگی با
                                تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </a></h3>
                            <div class="meta">
                                <div><a style="font-family: Vazir-Medium" href="#">
                                    19 مهر 98</a><span class="icon-calendar"></span></div>
                                <div dir="rtl"><a style="font-family: Vazir-Medium" href="#"><span
                                        class="icon-person"></span>
                                    حسن</a></div>
                                <div dir="rtl"><a style="font-family: Vazir-Medium" href="#">
                                    19</a><span class="icon-chat"></span></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sidebar-box ftco-animate">
                    <h3 style="font-family: Vazir-Bold">تگ ها</h3>
                    <ul class="tagcloud m-0 p-0">
                        <a style="font-family: Vazir-Medium" href="#" class="tag-cloud-link">تگ 1</a>
                        <a style="font-family: Vazir-Medium" href="#" class="tag-cloud-link">تگ 2</a>
                        <a style="font-family: Vazir-Medium" href="#" class="tag-cloud-link">تگ 3</a>
                        <a style="font-family: Vazir-Medium" href="#" class="tag-cloud-link">تگ 4</a>
                        <a style="font-family: Vazir-Medium" href="#" class="tag-cloud-link">تک 5</a>
                        <a style="font-family: Vazir-Medium" href="#" class="tag-cloud-link">تگ 6</a>
                        <a style="font-family: Vazir-Medium" href="#" class="tag-cloud-link">تگ شماره های دیگر</a>
                    </ul>
                </div>


                <div class="sidebar-box ftco-animate">
                    <h3 style="font-family: Vazir-Bold">جمله روز</h3>
                    <p style="font-family: Vazir-Medium">آدمی اگر فقط بخواهد خوشبخت باشد به زودی موفق می شود، اما او می
                        خواهد خوشبخت تر از دیگران باشد و این مشکل است؛ زیرا او دیگران را خوشبخت تر از آنچه هستند تصور می
                        کند.

                    </p>
                </div>
            </div><!-- END COL -->
        </div>
    </div>
</section>
{% endblock %}