{% extends 'base.html' %}
{% load static %}
{% load jformat %}
{% block title %}{{ title }}{% endblock %}
{% block extra_head %}

    <style>.h_iframe-aparat_embed_frame {
        position: relative;
    }

    .h_iframe-aparat_embed_frame .ratio {
        display: block;
        width: 100%;
        height: auto;
    }

    .h_iframe-aparat_embed_frame iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    </style>
{% endblock %}

{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({{ this_post.img.url }});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 style="font-family: Vazir-Bold" class="mb-2 bread">{{ this_post.title }}</h1>
                    <p style="font-family: Vazir-Medium" class="breadcrumbs">
                    <span class="mr-2"><a href="{% url 'index' %}">صفحه نخست <i
                            class="ion-ios-arrow-back"></i></a></span> <span class="mr-2"><a href="{% url 'blog' %}">نوشته ها <i
                            class="ion-ios-arrow-back"></i></a></span> <span>{{ this_post.title }}<i
                            class="ion-ios-arrow-back"></i></span></p>
                </div>

            </div>
        </div>
    </section>

    <section class="ftco-section" style="direction: rtl">
        <div class="container">
            <div class="row">
                <div id="blog_single_content" class="col-lg-8 ftco-animate"
                     style="font-family: Vazir-Medium;
                        color: black">
                    <!--                <br>-->
                    {{ this_post.text|safe }}

                    <!--                <img style="border-bottom-left-radius: 20px; border-top-right-radius: 20px; box-shadow: 0 8px 10px 0 rgba(0, 0, 0, .12), 0 10px 15px 0 rgba(0, 0, 0, .10);"-->
                    <!--                         src="" alt="" class="img-fluid">-->
                    <div dir="rtl" style="text-align: right; margin-top: 5%" class="container">
                        <div class="row">
                        <span style="text-align: right; font-family: Vazir-Medium"><span
                                style="font-family: Vazir-Medium">نوشته شده توسط:</span>{{ this_post.username.user.last_name }}</span>
                            <span style="text-align: left; font-family: Vazir-Medium"><span
                                    style="font-family: Vazir-Medium">تاریخ:</span>{{ this_post.date|jformat:"%d %B - %H:%M" }}</span>
                        </div>
                    </div>
                    <hr style="margin-top: 0%; margin-bottom: -5%">

                    <div style="text-align: right" class="tag-widget post-tag-container mb-5 mt-5">
                        <div class="tagcloud">
                            {% for cat in this_post.categories.all %}
                                <a href="{% url 'blog' tag=cat.title %}"
                                        style="font-family: Vazir-Medium; border-radius: 0 10px 0 10px;"
                                   class="tag-cloud-link">{{ cat.title }}</a>
                            {% endfor %}
                        </div>
                    </div>

                    <div style="direction: rtl" class="pt-5 mt-5">
                        <h3 style="font-family: Vazir-Bold" class="mb-5 h4 font-weight-bold">
                            ({{ this_post.get_comments.count }})
                            نظرات</h3>
                        <ul class="comment-list">

                            {% for comment in this_post.get_comments %}
                                <li class="comment">
                                    <div class="vcard bio" style="float: right">
                                        <img src="{{ comment.author.user.profile.img.url }}" alt="Image placeholder">
                                    </div>
                                    <div class="comment-body">
                                        <h3 style="font-family: Vazir-Bold; margin-right: 2%">{{ comment.author.user.last_name }}</h3>
                                        <div style="font-family: Vazir-Medium; text-align: right; margin-right: 2%"
                                             class="meta mb-2">{{ comment.cm_date|jformat:"%d %B - %H:%M" }}
                                        </div>
                                        <p style="font-family: Vazir-Medium">
                                            {{ comment.text }}
                                        </p>
                                        <!--                                <p style="font-family: Vazir-Medium"><a href="#" class="reply">پاسخ</a></p>-->
                                    </div>
                                </li>

                            {% endfor %}

                            <!--                        <li class="comment">-->
                            <!--                            <div class="vcard bio">-->
                            <!--                                <img src="{% static 'images/teacher-1.jpg' %}" alt="Image placeholder">-->
                            <!--                            </div>-->
                            <!--                            <div class="comment-body">-->
                            <!--                                <h3>John Doe</h3>-->
                            <!--                                <div class="meta mb-2">January 03, 2019 at 2:21pm</div>-->
                            <!--                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum-->
                            <!--                                    necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente-->
                            <!--                                    iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>-->
                            <!--                                <p><a href="#" class="reply">Reply</a></p>-->
                            <!--                            </div>-->


                            <!--                                                                <ul class="children">-->
                            <!--                                                                    <li class="comment">-->
                            <!--                                                                        <div class="vcard bio">-->
                            <!--                                                                            <img src="{% static 'images/teacher-1.jpg' %}" alt="Image placeholder">-->
                            <!--                                                                        </div>-->
                            <!--                                                                        <div class="comment-body">-->
                            <!--                                                                            <h3>John Doe</h3>-->
                            <!--                                                                            <div class="meta mb-2">January 03, 2019 at 2:21pm</div>-->
                            <!--                                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur-->
                            <!--                                                                                quidem laborum necessitatibus, ipsam impedit vitae autem, eum-->
                            <!--                                                                                officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum-->
                            <!--                                                                                impedit necessitatibus, nihil?</p>-->
                            <!--                                                                            <p><a href="#" class="reply">Reply</a></p>-->
                            <!--                                                                        </div>-->

                            <!--                                                                        -->
                            <!--                                                                    </li>-->
                            <!--                                                                </ul>-->
                            <!--                        </li>-->

                        </ul>
                        <!-- END comment-list -->
                        {% if user.is_authenticated %}
                            <div class="comment-form-wrap pt-5">
                                <h3 style="font-family: Vazir-Bold" class="mb-5 h4 font-weight-bold">نظر ثبت کنید</h3>
                                <form method="POST" action="{{ this_post.get_absolute_url }}" class="p-5 bg-light"
                                      style="border-top-right-radius: 20px; border-bottom-left-radius: 20px">
                                    {% csrf_token %}

                                    <div class="form-group">
                                <textarea
                                        style="font-family: Vazir-Medium; border-top-right-radius: 20px;
                                        border-bottom-left-radius: 20px"
                                        name="text" id="message" cols="30" rows="10"
                                        class="form-control" placeholder="پیام"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input style="font-family: Vazir-Medium; " type="submit" name="submit"
                                               value="ارسال نظر"
                                               class="btn py-3 px-4 btn-primary">
                                    </div>

                                </form>
                            </div>
                        {% endif %}

                    </div>
                </div> <!-- .col-md-8 -->

                <div style="text-align: right" class="col-lg-4 sidebar ftco-animate">
                    <div dir="rtl" class="sidebar-box" style="width: 100%">
                        <form action="{% url 'search' %}" class="search-form"
                              style="border-top-right-radius: 20px; border-bottom-left-radius: 20px">
                            <div class="form-group">
                                <span class="icon icon-search"></span>
                                <input style="border-top-right-radius: 20px; border-bottom-left-radius: 20px; font-family: Vazir-Medium"
                                       type="text" name="q" class="form-control"
                                       placeholder="عنوانی را جستجو کنید">
                            </div>
                        </form>
                    </div>

                    <div class="sidebar-box ftco-animate">
                        <h3 style="font-family: Vazir-Bold">مطالب مهم</h3>
                        {% for fpost in featured_posts %}
                            <div class="block-21 mb-4 d-flex"
                                 style="background: #FAFAFA; border-bottom-left-radius: 20px; border-top-right-radius: 20px;">
                                <!--                        <a class="blog-img mr-4" style="background-image: url({{ fpost.img.url }});"></a>-->
                                <div class="text col-12">
                                    <h3 class="heading"
                                        style="font-family: Vazir-Bold; margin-left: 5%; margin-right: 5%; margin-top: 5%">
                                        <a
                                                href="{{ fpost.get_absolute_url }}" style="color: #1b1e21">
                                            {{ fpost.title }}
                                        </a></h3>
                                    <hr>
                                    <div class="meta container" style="margin-bottom: 2%">
                                        <div class="row" style="margin-right: 10px; margin-top: 5px; margin-top: -5px">
                                            <div style="margin-left: 10px"><span class="icon-calendar"></span><a
                                                    style="margin-right: -5px; color: #1b1e21; font-family: Vazir-Medium">{{ fpost.date|date:"Y/m/d" }}</a>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-right: 10px; margin-top: 5px; margin-top: -5px">
                                            <div><span class="icon-person"></span><a
                                                    style="margin-right: -5px; color: #1b1e21; font-family: Vazir-Medium">{{ fpost.username.user.last_name }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <br>
                    </div>
                    <div class="sidebar-box ftco-animate">
                        <h3 style="font-family: Vazir-Bold">تگ ها</h3>
                        <ul class="tagcloud m-0 p-0">
                            {% for cat in categories %}
                                <a href="{% url 'blog' tag=cat.title %}"
                                        style="font-family: Vazir-Medium; border-radius: 0 10px 0 10px;"
                                   class="tag-cloud-link">{{ cat.title }}</a>
                            {% endfor %}
                        </ul>
                    </div>
                    <!--                TODO: make independent side-bars -->
                    <!--                <div class="sidebar-box ftco-animate" style="direction: ltr">-->
                    <!--                    <h3 style="font-family: Vazir-Bold">دسته بندی</h3>-->
                    <!--                    <ul class="categories">-->
                    <!--                        <div class="row">-->
                    <!--                            <div style="text-align: left" class="col-lg-4 ">-->
                    <!--                                <span>(6)</span>-->
                    <!--                            </div>-->
                    <!--                            <div class="col-lg-8 ">-->
                    <!--                                <li><a style="font-family: Vazir-Medium" href="#">دسته اول </a></li>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                        <hr>-->

                    <!--                        <div class="row">-->
                    <!--                            <div style="text-align: left" class="col-lg-4 ">-->
                    <!--                                <span>(8)</span>-->
                    <!--                            </div>-->
                    <!--                            <div class="col-lg-8 ">-->
                    <!--                                <li><a style="font-family: Vazir-Medium" href="#">دسته دوم </a></li>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                        <hr>-->

                    <!--                        <div class="row">-->
                    <!--                            <div style="text-align: left" class="col-lg-4 ">-->
                    <!--                                <span>(5)</span>-->
                    <!--                            </div>-->
                    <!--                            <div class="col-lg-8 ">-->
                    <!--                                <li><a style="font-family: Vazir-Medium" href="#">دسته سوم </a></li>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                        <hr>-->
                    <!--                    </ul>-->
                    <!--                </div>-->
                </div>

            </div><!-- END COL -->
        </div>
    </section>
{% endblock %}