{% extends 'base.html' %}
{% load static %}
{% block title %} contact {% endblock %}
{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static '/images/bg_2.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 style="font-family: Vazir-Bold" class="mb-2 bread">ارتباط با ما</h1>
                <p style="font-family: Vazir-Medium" class="breadcrumbs"><span class="mr-2"><a href="index.html">صفحه اصلی <i
                        class="ion-ios-arrow-back"></i></a></span> <span>ارتباط با ما <i
                        class="ion-ios-arrow-back"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section style="margin-bottom: 5%; margin-top: 5%" class="ftco-section ftco-no-pt ftco-no-pb contact-section">
    <div class="container">
        <div class="row d-flex align-items-stretch no-gutters">
            <div class="col-md-6 p-4 p-md-5 order-md-last bg-light">
                <form action="#">
                    <div class="form-group">
                        <input style="text-align:right; font-family: Vazir-Medium" type="text" class="form-control" placeholder="نام شما">
                    </div>
                    <div class="form-group">
                        <input style="text-align:right; font-family: Vazir-Medium" type="text" class="form-control" placeholder="رایانامتان">
                    </div>
                    <div class="form-group">
                        <input style="text-align:right; font-family: Vazir-Medium" type="text" class="form-control" placeholder="موضوع">
                    </div>
                    <div class="form-group">
                        <textarea style="text-align:right; font-family: Vazir-Medium" name="" id="" cols="30" rows="7" class="form-control"
                                  placeholder="پیامتان را اینجا وارد نمایید"></textarea>
                    </div>
                    <div class="form-group">
                        <input style="font-family: Vazir-Medium;"type="submit" value="ارسال پیام" class="btn btn-primary py-3 px-5">
                    </div>
                </form>
            </div>
            <div class="col-md-6 d-flex align-items-stretch">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1642944.8053847319!2d49.28528947798082!3d36.4605390074152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e01778f28ad8f%3A0x9c114d3a85af9d84!2sAllameh%20Helli%205%20High%20School!5e0!3m2!1sen!2s!4v1576317973924!5m2!1sen!2s"
                        width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</section>
{% endblock %}
