{% extends 'base.html' %}
{% load static %}

{% block title %} دروس {% endblock %}
{% block meta_description %}صفحه ی دروس ارائه شده{% endblock %}

{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_2.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 style="font-family: Vazir-Bold" class="mb-2 bread">کلاس ها</h1>
                <p style="font-family: Vazir-Medium" class="breadcrumbs"><span class="mr-2"><a href="index.html">صفحه اصلی <i
                        class="ion-ios-arrow-back"></i></a></span> <span>کلاس ها <i
                        class="ion-ios-arrow-back"></i></span></p>
            </div>

            <div class="row col-12">
                <p style="margin-right: auto; margin-left: auto; border-radius:50%; box-shadow: 0 10px 10px 0 rgba(255, 204, 153, .80), 0 10px 15px 0 rgba(255, 204, 0, .15)"
                   class="mb-0" style="margin-: 10px"><a style="font-family: Vazir-Medium" href="{% url 'add_course' %}"
                                                         class="btn btn-secondary">افزودن کلاس<span
                        class="icon-plus"></span></a></p>
            </div>

            <!--            {% if user.is_authenticated and not user.profile.role.is_student %}-->
            <!--            <div class="row col-12">-->
            <!--                <p style="margin-right: auto; margin-left: auto; border-radius:50%; box-shadow: 0 10px 10px 0 rgba(255, 204, 153, .80), 0 10px 15px 0 rgba(255, 204, 0, .15)"-->
            <!--                   class="mb-0" style="margin-: 10px"><a style="font-family: Vazir-Medium" href="{% url 'add_post' %}"-->
            <!--                                                         class="btn btn-secondary">نوشته ی-->
            <!--                    جدید<span-->
            <!--                            class="icon-plus"></span></a></p>-->
            <!--            </div>-->
            <!--            {% endif %}-->
        </div>
    </div>
</section>


<section class="ftco-section" style="direction: rtl">

    <div class="container">
        <div class="row">

            <div style="text-align: right" class="col-lg-12 sidebar ftco-animate">
                <div class="row">
                    {% for crs in course_list %}
                    <div class="col-sm-12 col-md-6 col-lg-4 ftco-animate">
                        <div class="blog-entry" dir="ltr"
                             style="border-bottom-left-radius:20px; border-top-right-radius:20px; box-shadow: 0 8px 10px 0 rgba(0, 0, 0, .12), 0 10px 15px 0 rgba(0, 0, 0, .10)">
                            <a href="{{ crs.get_absolute_url }}" class="block-20 d-flex align-items-end"
                               style="background-image: url({{ crs.thumbnail.url }});border-top-right-radius: 20px">
                                <!--                                <a class="icon-add_circle" style="font-size: 25px;position: absolute"></a>-->
                                <div class="meta-date text-center p-2"
                                     style="border-top-right-radius: 20px; background: #2A4324">
                                    <span style="font-family: Vazir-Medium" class="day">{{ crs.period }}</span>
                                </div>
                            </a>
                            <div class="text bg-white p-4" style="border-bottom-left-radius: 20px; color: #2A4324">
                                <h3 style="font-family: Vazir-Bold; text-align: center" class="heading"><a
                                        href="{{ crs.get_absolute_url }}">
                                    {{ crs.title }}
                                </a>
                                </h3>
                                <hr>
                                <div style="direction: rtl" class="d-flex align-items-center mt-4">
                                    <p class="ml-auto mb-0" style="text-align: center">
                                        <a style="margin-right: 10px; color: #6c757d"
                                           class="mr-2 icon-pencil">
                                            <a style="margin-right: 15px; font-family: Vazir-Medium">
                                                {{ crs.teacher }}
                                            </a>
                                        </a>
                                    <div style=" float: left">
                                        <a style="font-family: Vazir-Medium"
                                           class="meta-chat">{{ crs.student_count }}<span
                                                class="icon-card_membership"></span></a></div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div><!-- END COL -->
    </div>
</section>
{% endblock %}