{% extends 'base.html' %}
{% load static %}

{% block title %} دروس {% endblock %}

{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/1_YLlZ96J3p8GFkIh1USVMzg.jpeg' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 style="font-family: Vazir-Bold" class="mb-2 bread">دروس</h1>
                <p style="font-family: Vazir-Medium" class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">صفحه اصلی <i
                        class="ion-ios-arrow-back"></i></a></span> <span>دروس<i
                        class="ion-ios-arrow-back"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section dir="rtl" class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 course d-lg-flex ftco-animate">
                <div class="img" style="background-image: url({% static 'images/course-1.jpg' %});"></div>
                <div class="text bg-light p-4">
                    <h3 style="font-family: Vazir-Bold"><a href="#">درس شماره 1</a></h3>
                    <p style="font-family: Vazir-Medium" class="subheading"><span>ساعت برگزاری:</span> 9:00am - 10am</p>
                    <p style="font-family: Vazir-Medium">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                </div>
            </div>
            <div class="col-md-6 course d-lg-flex ftco-animate">
                <div class="img" style="background-image: url({% static 'images/course-2.jpg' %});"></div>
                <div class="text bg-light p-4">
                    <h3 style="font-family: Vazir-Bold"><a href="#">درس شماره 2</a></h3>
                    <p style="font-family: Vazir-Medium" class="subheading"><span>ساعت برگزاری:</span> 9:00am - 10am</p>
                    <p style="font-family: Vazir-Medium">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                </div>
            </div>
            <div class="col-md-6 course d-lg-flex ftco-animate">
                <div class="img" style="background-image: url({% static 'images/course-3.jpg' %});"></div>
                <div class="text bg-light p-4">
                    <h3 style="font-family: Vazir-Bold"><a href="#">درس شماره 3</a></h3>
                    <p style="font-family: Vazir-Medium" class="subheading"><span>ساعت برگزاری:</span> 9:00am - 10am</p>
                    <p style="font-family: Vazir-Medium">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                </div>
            </div>
            <div class="col-md-6 course d-lg-flex ftco-animate">
                <div class="img" style="background-image: url({% static 'images/course-4.jpg' %});"></div>
                <div class="text bg-light p-4">
                    <h3 style="font-family: Vazir-Bold"><a href="#">درس شماره 4</a></h3>
                    <p style="font-family: Vazir-Medium" class="subheading"><span>ساعت برگزاری:</span> 9:00am - 10am</p>
                    <p style="font-family: Vazir-Medium">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                </div>
            </div>
            <div class="col-md-6 course d-lg-flex ftco-animate">
                <div class="img" style="background-image: url({% static 'images/course-5.jpg' %});"></div>
                <div class="text bg-light p-4">
                    <h3 style="font-family: Vazir-Bold"><a href="#">درس شماره 5</a></h3>
                    <p style="font-family: Vazir-Medium" class="subheading"><span>ساعت برگزاری:</span> 9:00am - 10am</p>
                    <p style="font-family: Vazir-Medium">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                </div>
            </div>
            <div class="col-md-6 course d-lg-flex ftco-animate">
                <div class="img" style="background-image: url({% static 'images/course-6.jpg' %});"></div>
                <div class="text bg-light p-4">
                    <h3 style="font-family: Vazir-Bold"><a href="#">درس شماره 6</a></h3>
                    <p style="font-family: Vazir-Medium" class="subheading"><span>ساعت برگزاری:</span> 9:00am - 10am</p>
                    <p style="font-family: Vazir-Medium">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}