{% extends 'base.html' %}
{% load static %}

{% block title %}تک درس{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
{% endblock %}
{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_3.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 style="font-family: Vazir-Bold" class="mb-2 bread">درس</h1>
                <p style="font-family: Vazir-Medium" class="breadcrumbs"><span class="mr-2"><a href="index.html">صفحه نخست <i
                        class="ion-ios-arrow-back"></i></a></span> <span class="mr-2"><a href="index.html">بلاگ <i
                        class="ion-ios-arrow-back"></i></a></span> <span>عنوان درس<i
                        class="ion-ios-arrow-back"></i></span></p>
            </div>
            <div class="row col-12">
                <p style=" margin-left: 0; border-radius:50%; box-shadow: 0 10px 10px 0 rgba(255, 0, 0, .50), 0 10px 15px 0 rgba(255, 102, 102, .15)"
                   class="mb-0" style="padding: 5px"><a style="font-family: Vazir-Medium" href="#"
                                                        class="btn btn-danger">حذف کلاس<span class="icon-delete"></span></a>
                </p>
                <p style=" margin-left: 10px; border-radius:50%; box-shadow: 0 10px 10px 0 rgba(255, 204, 153, .50), 0 10px 15px 0 rgba(255, 204, 0, .15)"
                   class="mb-0" style="padding: 5px"><a style="font-family: Vazir-Medium" href="#"
                                                        class="btn btn-secondary">ویرایش کلاس<span
                        class="icon-edit"></span></a>
                </p>
            </div>
        </div>
    </div>
</section>

<!--<section class="ftco-section" style="direction: rtl">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-8 ftco-animate">-->
<!--                <h2 style="font-family: Vazir-Bold" class="mb-3">{{ this_post.title }}</h2>-->
<!--                <div dir="rtl" style="text-align: right" class="container">-->
<!--                    <div class="row">-->
<!--                        <span style="text-align: right; font-family: Vazir-Medium"><span-->
<!--                                style="font-family: Vazir-Medium">نویسنده:</span>{{ this_post.username }}</span>-->
<!--                        <span style="text-align: left; font-family: Vazir-Medium"><span-->
<!--                                style="font-family: Vazir-Medium">تاریخ:</span>{{ this_post.date|date:"Y m d" }}</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <br>-->
<!--                {{ this_post.text|safe }}-->

<!--                &lt;!&ndash;                <img style="border-bottom-left-radius: 20px; border-top-right-radius: 20px; box-shadow: 0 8px 10px 0 rgba(0, 0, 0, .12), 0 10px 15px 0 rgba(0, 0, 0, .10);"&ndash;&gt;-->
<!--                &lt;!&ndash;                         src="{% static 'images/image_2.jpg' %}" alt="" class="img-fluid">&ndash;&gt;-->
<!--                <hr style="margin-top: 5%; margin-bottom: -4%">-->

<!--                <div style="text-align: right" class="tag-widget post-tag-container mb-5 mt-5">-->
<!--                    <div class="tagcloud">-->
<!--                        {% for cat in this_post.categories.all %}-->
<!--                        <a style="font-family: Vazir-Medium; border-radius: 0 10px 0 10px;" href="#"-->
<!--                           class="tag-cloud-link">{{ cat.title }}</a>-->
<!--                        {% endfor %}-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div style="direction: rtl" class="pt-5 mt-5">-->
<!--                    <h3 style="font-family: Vazir-Bold" class="mb-5 h4 font-weight-bold">-->
<!--                        ({{ this_post.comment_count }})-->
<!--                        نظرات</h3>-->
<!--                    <ul class="comment-list">-->

<!--                        {% for comment in this_post.get_comments %}-->

<!--                        <li class="comment">-->
<!--                            <div class="comment-body">-->
<!--                                <h3 style="font-family: Vazir-Bold">{{ comment.author }}</h3>-->
<!--                                <div style="text-align: right" class="meta mb-2">{{ comment.cm_date|date:"Y m d" }}-->
<!--                                </div>-->
<!--                                <p style="font-family: Vazir-Medium">-->
<!--                                    {{ comment.text }}-->
<!--                                </p>-->
<!--                                &lt;!&ndash;                                <p style="font-family: Vazir-Medium"><a href="#" class="reply">پاسخ</a></p>&ndash;&gt;-->
<!--                            </div>-->
<!--                            <div class="vcard bio">-->
<!--                                <img src="{% static 'images/teacher-1.jpg' %}" alt="Image placeholder">-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        {% endfor %}-->

<!--                        &lt;!&ndash;                        <li class="comment">&ndash;&gt;-->
<!--                        &lt;!&ndash;                            <div class="vcard bio">&ndash;&gt;-->
<!--                        &lt;!&ndash;                                <img src="{% static 'images/teacher-1.jpg' %}" alt="Image placeholder">&ndash;&gt;-->
<!--                        &lt;!&ndash;                            </div>&ndash;&gt;-->
<!--                        &lt;!&ndash;                            <div class="comment-body">&ndash;&gt;-->
<!--                        &lt;!&ndash;                                <h3>John Doe</h3>&ndash;&gt;-->
<!--                        &lt;!&ndash;                                <div class="meta mb-2">January 03, 2019 at 2:21pm</div>&ndash;&gt;-->
<!--                        &lt;!&ndash;                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum&ndash;&gt;-->
<!--                        &lt;!&ndash;                                    necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente&ndash;&gt;-->
<!--                        &lt;!&ndash;                                    iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>&ndash;&gt;-->
<!--                        &lt;!&ndash;                                <p><a href="#" class="reply">Reply</a></p>&ndash;&gt;-->
<!--                        &lt;!&ndash;                            </div>&ndash;&gt;-->


<!--                        &lt;!&ndash;                                                                <ul class="children">&ndash;&gt;-->
<!--                        &lt;!&ndash;                                                                    <li class="comment">&ndash;&gt;-->
<!--                        &lt;!&ndash;                                                                        <div class="vcard bio">&ndash;&gt;-->
<!--                        &lt;!&ndash;                                                                            <img src="{% static 'images/teacher-1.jpg' %}" alt="Image placeholder">&ndash;&gt;-->
<!--                        &lt;!&ndash;                                                                        </div>&ndash;&gt;-->
<!--                        &lt;!&ndash;                                                                        <div class="comment-body">&ndash;&gt;-->
<!--                        &lt;!&ndash;                                                                            <h3>John Doe</h3>&ndash;&gt;-->
<!--                        &lt;!&ndash;                                                                            <div class="meta mb-2">January 03, 2019 at 2:21pm</div>&ndash;&gt;-->
<!--                        &lt;!&ndash;                                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur&ndash;&gt;-->
<!--                        &lt;!&ndash;                                                                                quidem laborum necessitatibus, ipsam impedit vitae autem, eum&ndash;&gt;-->
<!--                        &lt;!&ndash;                                                                                officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum&ndash;&gt;-->
<!--                        &lt;!&ndash;                                                                                impedit necessitatibus, nihil?</p>&ndash;&gt;-->
<!--                        &lt;!&ndash;                                                                            <p><a href="#" class="reply">Reply</a></p>&ndash;&gt;-->
<!--                        &lt;!&ndash;                                                                        </div>&ndash;&gt;-->

<!--                        &lt;!&ndash;                                                                        &ndash;&gt;-->
<!--                        &lt;!&ndash;                                                                    </li>&ndash;&gt;-->
<!--                        &lt;!&ndash;                                                                </ul>&ndash;&gt;-->
<!--                        &lt;!&ndash;                        </li>&ndash;&gt;-->

<!--                    </ul>-->
<!--                    &lt;!&ndash; END comment-list &ndash;&gt;-->
<!--                    {% if user.is_authenticated %}-->

<!--                    <div class="comment-form-wrap pt-5">-->
<!--                        <h3 style="font-family: Vazir-Bold" class="mb-5 h4 font-weight-bold">نظر ثبت کنید</h3>-->
<!--                        <form action="#" class="p-5 bg-light"-->
<!--                              style="border-top-right-radius: 20px; border-bottom-left-radius: 20px">-->
<!--                            <div class="form-group">-->
<!--                                <input style="font-family: Vazir-Medium; border-top-right-radius: 20px; border-bottom-left-radius: 20px"-->
<!--                                       type="text" class="form-control" id="name"-->
<!--                                       placeholder="نام *">-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <input style="font-family: Vazir-Medium; border-top-right-radius: 20px; border-bottom-left-radius: 20px"-->
<!--                                       type="email" class="form-control" id="email"-->
<!--                                       placeholder="رایانامه *">-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <input style="font-family: Vazir-Medium; border-top-right-radius: 20px; border-bottom-left-radius: 20px"-->
<!--                                       type="url" class="form-control" id="website"-->
<!--                                       placeholder="تارنما">-->
<!--                            </div>-->

<!--                            <div class="form-group">-->
<!--                                <textarea-->
<!--                                        style="font-family: Vazir-Medium; border-top-right-radius: 20px; border-bottom-left-radius: 20px"-->
<!--                                        name="" id="message" cols="30" rows="10"-->
<!--                                        class="form-control" placeholder="پیام"></textarea>-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <input style="font-family: Vazir-Medium; " type="submit" value="ارسال نظر"-->
<!--                                       class="btn py-3 px-4 btn-primary">-->
<!--                            </div>-->

<!--                        </form>-->
<!--                    </div>-->
<!--                    {% endif %}-->

<!--                </div>-->
<!--            </div> &lt;!&ndash; .col-md-8 &ndash;&gt;-->

<!--            <div style="text-align: right" class="col-lg-4 sidebar ftco-animate">-->
<!--                <div dir="rtl" class="sidebar-box" style="width: 100%">-->
<!--                    <form action="#" class="search-form"-->
<!--                          style="border-top-right-radius: 20px; border-bottom-left-radius: 20px">-->
<!--                        <div class="form-group">-->
<!--                            <span class="icon icon-search"></span>-->
<!--                            <input style="border-top-right-radius: 20px; border-bottom-left-radius: 20px; font-family: Vazir-Medium"-->
<!--                                   type="text" class="form-control"-->
<!--                                   placeholder="عنوانی را جستجو کنید">-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->

<!--                <div class="sidebar-box ftco-animate">-->
<!--                    <h3 style="font-family: Vazir-Bold">مطالب مهم</h3>-->
<!--                    {% for fpost in featured_posts %}-->
<!--                    <div class="block-21 mb-4 d-flex"-->
<!--                         style="background: #FAFAFA; border-bottom-left-radius: 20px; border-top-right-radius: 20px;">-->
<!--                        &lt;!&ndash;                        <a class="blog-img mr-4" style="background-image: url({{ fpost.img.url }});"></a>&ndash;&gt;-->
<!--                        <div class="text col-12">-->
<!--                            <h3 class="heading"-->
<!--                                style="font-family: Vazir-Bold; margin-left: 5%; margin-right: 5%; margin-top: 5%"><a-->
<!--                                    href="{{ fpost.get_absolute_url }}" style="color: #1b1e21">-->
<!--                                {{ fpost.title }}-->
<!--                            </a></h3>-->
<!--                            <hr>-->
<!--                            <div class="meta container" style="margin-bottom: 2%">-->
<!--                                <div class="row" style="margin-right: 10px; margin-top: 5px; margin-top: -5px">-->
<!--                                    <div style="margin-left: 10px"><span class="icon-calendar"></span><a-->
<!--                                            style="margin-right: -5px; color: #1b1e21; font-family: Vazir-Medium"-->
<!--                                            href="#">{{ fpost.date|date:"Y m d" }}</a></div>-->
<!--                                </div>-->
<!--                                <div class="row" style="margin-right: 10px; margin-top: 5px; margin-top: -5px">-->
<!--                                    <div><span class="icon-person"></span><a-->
<!--                                            style="margin-right: -5px; color: #1b1e21; font-family: Vazir-Medium"-->
<!--                                            href="#">{{ fpost.username }}</a></div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {% endfor %}-->
<!--                    <br>-->
<!--                </div>-->
<!--                <div class="sidebar-box ftco-animate">-->
<!--                    <h3 style="font-family: Vazir-Bold">تگ ها</h3>-->
<!--                    <ul class="tagcloud m-0 p-0">-->
<!--                        <a style="font-family: Vazir-Medium; border-radius: 0 10px 0 10px;" href="#"-->
<!--                           class="tag-cloud-link">تگ 1</a>-->
<!--                        <a style="font-family: Vazir-Medium; border-radius: 0 10px 0 10px;" href="#"-->
<!--                           class="tag-cloud-link">تگ 2</a>-->
<!--                        <a style="font-family: Vazir-Medium; border-radius: 0 10px 0 10px;" href="#"-->
<!--                           class="tag-cloud-link">تگ 3</a>-->
<!--                        <a style="font-family: Vazir-Medium; border-radius: 0 10px 0 10px;" href="#"-->
<!--                           class="tag-cloud-link">تگ 4</a>-->
<!--                        <a style="font-family: Vazir-Medium; border-radius: 0 10px 0 10px;" href="#"-->
<!--                           class="tag-cloud-link">تک 5</a>-->
<!--                        <a style="font-family: Vazir-Medium; border-radius: 0 10px 0 10px;" href="#"-->
<!--                           class="tag-cloud-link">تگ 6</a>-->
<!--                        <a style="font-family: Vazir-Medium; border-radius: 0 10px 0 10px;" href="#"-->
<!--                           class="tag-cloud-link">تگ شماره های دیگر</a>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                <div class="sidebar-box ftco-animate" style="direction: ltr">-->
<!--                    <h3 style="font-family: Vazir-Bold">دسته بندی</h3>-->
<!--                    <ul class="categories">-->
<!--                        <div class="row">-->
<!--                            <div style="text-align: left" class="col-lg-4 ">-->
<!--                                <span>(6)</span>-->
<!--                            </div>-->
<!--                            <div class="col-lg-8 ">-->
<!--                                <li><a style="font-family: Vazir-Medium" href="#">دسته اول </a></li>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <hr>-->

<!--                        <div class="row">-->
<!--                            <div style="text-align: left" class="col-lg-4 ">-->
<!--                                <span>(8)</span>-->
<!--                            </div>-->
<!--                            <div class="col-lg-8 ">-->
<!--                                <li><a style="font-family: Vazir-Medium" href="#">دسته دوم </a></li>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <hr>-->

<!--                        <div class="row">-->
<!--                            <div style="text-align: left" class="col-lg-4 ">-->
<!--                                <span>(5)</span>-->
<!--                            </div>-->
<!--                            <div class="col-lg-8 ">-->
<!--                                <li><a style="font-family: Vazir-Medium" href="#">دسته سوم </a></li>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <hr>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>&lt;!&ndash; END COL &ndash;&gt;-->
<!--    </div>-->
<!--</section>-->

<div class="content-area" dir="rtl">
    <aside class="sidebar-area" role="complementary">
        <nav class="side-navigation" role="navigation">
            <ul class="menu">
                <li class="menu-item">
                    <a href="#" style="font-family: Vazir-Medium">تمرین های من</a>
                </li><!-- /.menu-item -->
                <li class="menu-item">
                    <a href="#" style="font-family: Vazir-Medium">لیست دانش آموزان</a>
                </li><!-- /.menu-item -->
                <li class="menu-item" style="font-family: Vazir-Medium">
                    <a href="#">آیتم 3</a>
                </li><!-- /.menu-item -->
                <li class="menu-item" style="font-family: Vazir-Medium">
                    <a href="#">آیتم 4</a>
                </li><!-- /.menu-item -->
                <li class="menu-item">
            </ul><!-- /.menu -->
        </nav><!-- #site-navigation -->
    </aside><!-- #secondary -->
    <main class="site-main" role="main">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam numquam molestias omnis aliquam dolorum
        asperiores porro sunt officiis, eum placeat laudantium magnam mollitia esse, quos ut quod ex voluptas unde in
        vel, deleniti. Veniam voluptas harum tempora ut, asperiores ad quas deleniti quam impedit maiores dolore porro
        a, dolores natus accusantium. Delectus ducimus iusto neque distinctio esse labore veniam ipsa, voluptas
        provident, veritatis dolorum. Eum minus illum, dolor cupiditate nemo saepe praesentium inventore tempore, nulla,
        voluptatum et laboriosam rerum temporibus iusto voluptates officia, facilis deserunt. Obcaecati pariatur, alias.
        Cupiditate eaque, obcaecati corporis et nisi impedit sed sapiente quaerat eos, atque temporibus natus fuga quia.
        Ipsum eaque qui molestias quia accusantium explicabo hic laboriosam, placeat dicta recusandae exercitationem a
        cumque quidem sunt saepe suscipit fugiat maxime tenetur! Officia minus fugit praesentium, cupiditate quo
        expedita illo facilis suscipit vitae? Temporibus voluptas iste earum, aliquid assumenda minima optio magnam, ex
        consequatur dolores voluptatem possimus ad labore laborum. Ducimus odit quasi amet natus dolore debitis laborum
        ratione magni, laboriosam ea. Repudiandae dignissimos ratione in, id, corrupti porro nihil nobis officiis, nam
        unde quidem reprehenderit natus. Natus culpa ipsa quia reiciendis eligendi magnam delectus nesciunt sint est
        itaque! Velit soluta fugit, sed, nulla doloremque necessitatibus explicabo reprehenderit mollitia, enim facilis
        quidem. Mollitia iure eligendi laudantium molestias dolorum excepturi saepe, doloremque repellat quidem sequi
        natus voluptate, voluptates veniam, consequuntur! Quisquam consequuntur, ipsam repellendus pariatur voluptatem
        quas excepturi provident reprehenderit quod nostrum. Architecto officia perferendis sapiente eveniet voluptas
        adipisci nihil, temporibus. Quo eius nihil velit fuga magni, laudantium fugit delectus, explicabo iste! Illo
        aperiam, deleniti magnam veniam provident aut! Quae quas error, architecto natus minima repellendus ratione
        dolores voluptatibus vero iusto! Ea, ab quia libero nulla ipsam optio dolore alias delectus quis eum culpa.
        Maxime sit soluta animi, modi, repudiandae atque pariatur ullam eum dolore nostrum, consectetur quae fugiat
        accusamus non nisi laudantium quasi. Quisquam odit, itaque cumque architecto sit cum natus consectetur?
        Officiis, sit cum. Dolorum error inventore sunt quidem, voluptas, ab mollitia nisi architecto illo maiores nihil
        natus suscipit cupiditate minus, placeat ratione. Quis enim ullam itaque ipsam ipsa iste aliquid sequi quisquam
        ipsum nemo omnis tenetur, possimus quia quae cumque accusamus sint officiis ut amet, fugit eveniet illum. Ad ab
        esse vitae consectetur cumque deleniti odio cupiditate nemo sint, voluptatem voluptatum dolores maxime itaque
        quas! Harum consequatur, totam dicta dolores nulla architecto laborum, numquam fugiat, aperiam neque,
        repellendus ipsa molestiae. Placeat eum harum doloremque, et hic incidunt amet odio nobis cumque similique iusto
        officiis natus facilis iure quis, repellendus praesentium doloribus libero vero iste at tenetur aliquid
        perferendis! Dignissimos perspiciatis ea, veniam incidunt, magnam iure obcaecati deserunt? Nobis ea, possimus
        accusamus in hic nostrum! Ad assumenda consequuntur, illo tempora animi sed error provident voluptatem, quidem,
        quas sit ab quasi harum hic aliquam alias reprehenderit. Quam vero, est consequuntur molestiae omnis doloremque
        quas natus adipisci doloribus, inventore, fuga illum. Labore eius at, voluptas recusandae quibusdam accusamus
        numquam voluptatum aut blanditiis facere, aliquid deserunt nemo quo explicabo magni tempore magnam veniam
        facilis. Ab aliquam consequatur ad saepe neque pariatur blanditiis perferendis optio quod fugit impedit cumque
        quae sunt magni unde doloremque, illo commodi nulla! Dolorem, nesciunt. At praesentium, saepe rerum obcaecati
        nulla commodi labore cum? Et inventore fuga eum obcaecati culpa at. Ducimus ipsam expedita quasi totam veniam
        molestiae, esse, voluptate nam omnis, in id laudantium dolores sed. Deleniti a beatae consequuntur vero
        necessitatibus cum error molestias dolore laudantium officiis, est vel alias nemo sint voluptatibus accusamus
        rem voluptatum deserunt eligendi animi? Iste beatae hic quaerat! Eius nam labore doloribus natus obcaecati,
        accusamus inventore ad. Voluptatibus iusto laborum accusamus, ipsa ut repellat nemo recusandae animi id,
        expedita quasi earum. Neque placeat fuga aspernatur error nobis qui odit deleniti, obcaecati repellendus fugiat
        doloribus blanditiis in, vel nostrum culpa dolorem ipsa itaque dolores labore id molestias ducimus natus quod.
        Doloremque, magnam a explicabo deserunt, ipsa, illo facilis repellat animi in nemo placeat! Sit accusamus nemo
        fugiat labore sequi molestias explicabo aspernatur, id accusantium ad eveniet ut repudiandae reiciendis voluptas
        eum consequuntur enim temporibus, saepe placeat doloribus et amet eos tenetur culpa iure. Rem natus eaque
        dignissimos aspernatur, quis iste ea aliquam nesciunt omnis, et asperiores enim consequuntur modi voluptas
        quaerat vel rerum porro hic voluptatibus debitis culpa velit facilis. Provident quos commodi ex nobis pariatur,
        error ad, odio fugiat incidunt inventore saepe. Ea incidunt aperiam veritatis fugit provident, labore minima,
        numquam! Repudiandae id, inventore in ad et maiores qui, labore eos iusto nam mollitia error explicabo
        laudantium officiis, quae adipisci similique rerum esse eaque reprehenderit sunt repellat consectetur.
        Repudiandae animi amet libero architecto vero culpa sit tempore placeat doloribus veritatis sint quod tenetur at
        magni quis inventore blanditiis, pariatur maiores! Eaque aspernatur est explicabo molestias, ab neque minima
        soluta ullam, quidem, doloribus voluptatem, ipsum consequatur! Quo dolor architecto temporibus veritatis
        repudiandae error itaque. Modi corrupti nihil consectetur, iste dolorum ut dicta repellat aspernatur quisquam
        temporibus minus qui nam voluptas, animi quibusdam labore, nulla ducimus ipsa! Esse distinctio nostrum placeat
        assumenda vitae dolorum repudiandae in doloribus nihil! Nemo aspernatur fugiat sequi expedita, numquam, culpa
        voluptate, minima molestias dicta possimus dolorum iste quos. Necessitatibus sit ipsum aliquam rem aut nihil,
        debitis laborum quas quibusdam, quam beatae perferendis. Iste dolore velit labore animi placeat quis repudiandae
        qui hic nisi aut voluptatibus quo asperiores saepe quaerat ipsa doloribus alias fuga quisquam dignissimos,
        nesciunt dolorum. Sapiente magni mollitia officia earum velit doloremque quisquam voluptates, minus nemo ratione
        voluptatem commodi eius temporibus iste non similique est maiores recusandae sint at vel dolore error. Omnis ea
        eius beatae dolore quam repellat ipsum sapiente natus obcaecati excepturi! Quia repudiandae quam sint vitae id
        officia minus, vero laudantium, architecto delectus nulla quo assumenda atque voluptates possimus quod
        perspiciatis illo similique placeat culpa doloremque. Eaque veniam praesentium dolores dicta, accusantium, natus
        beatae perspiciatis eos eligendi voluptatibus sapiente ea suscipit repudiandae soluta voluptatum consequatur
        dolorem reiciendis assumenda pariatur facere. Maiores molestias excepturi, in animi itaque voluptate doloribus,
        sapiente officia dolorum voluptas corporis dolor omnis eaque? Consequuntur corrupti quaerat libero magnam
        officia officiis aut ab, repudiandae praesentium laboriosam quae aspernatur molestias, eveniet quod non
        reiciendis omnis tempore veritatis. Facere neque, labore quaerat ipsam eveniet nisi soluta beatae consectetur
        iure tenetur cum blanditiis praesentium minus hic libero culpa nesciunt illum facilis, pariatur fuga vero
        cupiditate ea voluptates laborum. Beatae ab pariatur obcaecati debitis temporibus nisi, quibusdam ex,
        voluptatibus minus rerum vero. Corrupti facilis quibusdam neque, deleniti architecto accusantium, reiciendis
        vero at beatae odio dolore, ipsam iusto pariatur hic. Veritatis perferendis sed praesentium similique, placeat
        ipsum, incidunt totam quas, nam facilis adipisci dolorum, temporibus impedit quisquam. At perferendis magnam
        nihil beatae eaque ducimus, quam, quibusdam necessitatibus, vero laudantium asperiores facilis numquam! Sapiente
        ratione, illo? Enim harum quisquam libero totam eum numquam quas necessitatibus odit expedita earum accusantium
        ullam dolore, sapiente sed recusandae suscipit sit? Ratione explicabo voluptate esse, fugit cupiditate error
        magnam est, odit corporis animi voluptatem quam necessitatibus consectetur nostrum impedit eveniet, iste optio
        corrupti natus. Reiciendis qui explicabo quae, sapiente velit veritatis corporis ducimus ut similique totam
        mollitia voluptates vitae ab, placeat odit vel fugiat, repellendus alias sunt ullam. Quidem cumque laudantium
        commodi dolorem ullam nulla pariatur, assumenda officiis illum necessitatibus ipsam dolorum veniam quas
        perferendis odit ratione dicta explicabo, voluptates eaque illo repellat ut voluptate. Obcaecati iure, tempore
        eveniet veniam. Natus consequuntur facilis repellat ipsa quisquam, a molestiae vel, nisi aliquid porro, nobis
        doloremque modi non veniam illo voluptate beatae consequatur, repellendus cumque nemo rerum atque! Maiores et ea
        deserunt error voluptatem ex magni sunt nam adipisci quod in reprehenderit fuga omnis, aliquam, architecto nisi,
        beatae autem! Doloremque, nemo a repudiandae officia. Vel voluptatum, dicta excepturi rerum nihil deleniti
        debitis quaerat commodi exercitationem distinctio sapiente laborum necessitatibus, et facilis tenetur laboriosam
        provident animi ratione, aliquid doloremque? Distinctio recusandae facere explicabo molestias minus est
        necessitatibus, accusamus eius optio saepe culpa! Deleniti incidunt voluptatum aut, asperiores inventore neque
        sit fuga voluptatem nobis sed facere hic reprehenderit rerum, reiciendis molestiae dolores, nihil officiis
        accusamus voluptates magnam cum voluptas ullam fugiat laboriosam! Vero eaque, repellat quas at quia nemo quam,
        dolor ipsa rem, numquam veniam, dolore. Molestias debitis officia ab magnam architecto voluptatem nobis natus
        maiores temporibus id tempora molestiae dicta quas ut in quia aspernatur, nulla corporis rerum dolorem ipsum,
        saepe doloremque eaque. Earum placeat hic expedita esse veritatis optio vel mollitia qui consequatur nesciunt
        quam eligendi nemo deserunt, ducimus delectus necessitatibus odio dolorum quo id dolores quos est maiores
        aperiam sint tempore. Impedit, sit, sed. Eveniet corporis excepturi ad odit facere nobis quae repellat pariatur
        tempora culpa adipisci veritatis cupiditate ut, dolore consequuntur accusantium, quidem iusto, nam cum
        recusandae enim molestias voluptate saepe. Id at sit qui ea fuga atque eligendi molestias perferendis sunt ullam
        corporis culpa modi quae nam, aliquid quo veritatis. Eius iusto, numquam omnis nihil. Quaerat maxime odio rerum
        pariatur, eligendi quas explicabo nesciunt molestiae. Sequi accusantium repellendus ipsum provident dignissimos
        asperiores repellat aliquam itaque pariatur maxime, odio, explicabo rerum porro, excepturi voluptatibus at ex
        vel rem ad? Optio libero, asperiores eum at hic consectetur veritatis tempora odit eveniet suscipit illo, nihil
        tempore omnis consequatur esse culpa quos accusamus odio officia animi vero. Non, autem voluptate laudantium
        voluptatum vel, impedit dolore explicabo nihil magnam suscipit voluptatibus. Numquam doloremque id quia tempora
        placeat necessitatibus, est repudiandae dolor, veniam sit repellendus veritatis iure, debitis et sequi odio eum
        excepturi cum? Sed, ea numquam labore vitae ipsa. Quis maxime, itaque assumenda eligendi aspernatur magni
        dignissimos sed incidunt, cumque, eum commodi perferendis et quidem earum autem nihil deserunt minima
        necessitatibus esse rerum labore ea consequatur! Id recusandae molestiae voluptatem ab, fugiat voluptate?
        Explicabo error suscipit optio aliquam, architecto repellendus impedit voluptas commodi, ad labore cum quasi.
        Rerum quae nisi aliquam molestias, quis tempora voluptate odit, optio ab! Excepturi vero, nobis cupiditate
        deserunt libero pariatur repellendus quo. Hic maxime natus sequi facilis minus voluptatibus nisi in aperiam
        magnam dolorem expedita ipsa provident, architecto, recusandae error vitae ab magni veritatis, deserunt? Fugit
        illo temporibus, quod, cum, officiis blanditiis obcaecati perspiciatis saepe eligendi et officia minima
        assumenda dolor provident quis facilis impedit repudiandae sint voluptatibus ipsum nesciunt! Eos pariatur aut
        sed perspiciatis nihil ratione quisquam dignissimos harum nostrum delectus, animi provident, officia. Cum autem
        quas libero maiores adipisci atque, reprehenderit nam. Quos reiciendis ratione, quibusdam accusamus! Vero ipsam,
        sint quidem, veritatis alias cum maxime maiores at eligendi animi nostrum est modi neque voluptates consectetur
        labore perspiciatis, ex velit facilis earum quam facere, commodi. Quia rem mollitia voluptas ipsa repellat nisi
        non, debitis, ut, tempore laborum, cumque voluptate fugit. Reiciendis totam, quaerat dolor. Consectetur deserunt
        non, distinctio velit nostrum odio provident eligendi, suscipit a. Mollitia, nemo labore quibusdam! Facere quis
        delectus assumenda, doloremque dicta odit. Illo iste non natus sit. Quod explicabo cumque cupiditate mollitia,
        architecto quam at perspiciatis quo, necessitatibus deserunt, quis hic, voluptatem enim animi ab praesentium
        tempore culpa? Ad laborum saepe neque obcaecati quibusdam, reprehenderit quidem voluptatum recusandae aspernatur
        porro! Obcaecati, saepe aliquid natus nihil maiores hic et, nemo vero quae perspiciatis quasi ducimus? Placeat
        distinctio, dicta necessitatibus error doloribus voluptatum nostrum sed possimus quos modi unde enim iusto
        ducimus facere, non vel quibusdam! Sapiente iure tempora, nisi quam. Nihil saepe ratione, et magni accusantium.
        Suscipit, voluptatum dignissimos omnis eaque voluptatibus nesciunt inventore vel aliquid quibusdam qui fugiat
        amet quod odit at facere nulla. Earum dolor aspernatur asperiores non debitis ipsam totam labore quas ab
        cupiditate odit delectus sapiente repudiandae voluptatum culpa dicta ea numquam nihil eligendi voluptatem,
        pariatur ducimus porro libero necessitatibus. Illo debitis ipsa ad quidem itaque modi tempore officiis hic
        commodi sit quae impedit doloribus, soluta, eius, culpa molestias aut provident asperiores vel enim sapiente ex
        minima iure corporis. Iusto asperiores animi facilis. Aperiam voluptate similique architecto consequuntur modi
        ipsam tenetur rem commodi minus doloribus corporis et iste molestias, sed consectetur dicta, placeat illo.
        Deleniti aspernatur suscipit, eos debitis quasi sit, deserunt odit ratione ea, labore perferendis ullam at
        repellat vero facere, possimus! Dolores doloremque in iusto veritatis cum maiores assumenda iste suscipit
        voluptas blanditiis sit eius temporibus quae a quidem aut, repudiandae accusantium debitis magni earum hic esse
        reprehenderit dolorum labore distinctio. Commodi nemo officia aliquam, ea esse sint!
    </main><!-- /.site-main -->
</div><!-- /.content-area -->
{% endblock %}

{% block extra_js %}
<script>
    /*
    * Fix sidebar at some point and remove
    * fixed position at content bottom
    */
    $(window).scroll(function () {
        var headerHeight = $('.site-header').innerHeight();
        var contentHeight = $('.site-main').innerHeight();
        var sidebarHeight = $('.side-navigation').height();
        var sidebarBottomPos = contentHeight - sidebarHeight;
        var trigger = $(window).scrollTop() - headerHeight;

        if ($(window).scrollTop() >= headerHeight) {
            $('.side-navigation').addClass('fixed');
        } else {
            $('.side-navigation').removeClass('fixed');
        }

        if (trigger >= sidebarBottomPos) {
            $('.side-navigation').addClass('bottom');
        } else {
            $('.side-navigation').removeClass('bottom');
        }
    });
</script>
{% endblock %}