
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/error503.css' %}">
{% endblock %}

{% block content %}
<div class="bg"><img src="https://maxcdn.icons8.com/Share/icon/win10/Network//unavailable_cloud1600.png"/></div>
<div class="center">
  <h1 style="font-family: Vazir-Bold">شما به این صفحه دسترسی ندارید</h1>
  <h3 style="font-family: Vazir-Medium">لطفا مجددا تلاش نمایید...</h3><a class="back" href="/"><i class="fa fa-arrow-left"></i><span style="font-family: Vazir-Medium">بازگشت</span></a>
</div>

{% endblock %}

{% block extra_js %}
<script src="https://use.fontawesome.com/97829db75e.js"></script>
{% endblock %}