{% load static %}
<footer dir="rtl" class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">

            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget mb-5">
                    <h2 style="font-family: Vazir-Bold" class="ftco-heading-2">ارتباط با ما</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span style="font-family: Vazir-Medium"
                                                                                class="text">تهران، میدان الف</span>
                            </li>
                            <li><a href="#"><span style="font-family: Vazir-Medium" class="icon icon-phone"></span><span
                                    class="text">+9821 77889922</span></a></li>
                            <li><a href="#"><span style="font-family: Vazir-Medium"
                                                  class="icon icon-envelope"></span><span
                                    class="text">info@example.com</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget mb-5 ml-md-4">
                    <h2 style="font-family: Vazir-Bold" style="margin-right: 15%" class="ftco-heading-2">پیوندها</h2>
                    <ul class="list-unstyled">
                        <li style="font-family:Vazir-Medium; text-align: right; margin-right: -10%"><a href="#"><span
                                class="ion-ios-arrow-round-back mr-2"></span>خانه</a></li>
                        <li style="font-family:Vazir-Medium; text-align: right; margin-right: -10%"><a href="#"><span
                                class="ion-ios-arrow-round-back mr-2"></span>درباره ما</a></li>
                        <li style="font-family:Vazir-Medium; text-align: right; margin-right: -10%"><a href="#"><span
                                class="ion-ios-arrow-round-back mr-2"></span>خدمات</a></li>
                        <li style="font-family:Vazir-Medium; text-align: right; margin-right: -10%"><a href="#"><span
                                class="ion-ios-arrow-round-back mr-2"></span>دپارتمان ها</a></li>
                        <li style="font-family:Vazir-Medium; text-align: right; margin-right: -10%"><a href="#"><span
                                class="ion-ios-arrow-round-back mr-2"></span>درباره ما</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget mb-5">
                    <h2 style="font-family: Vazir-Bold" class="ftco-heading-2">عضویت در خبرنامه</h2>
                    <form action="#" class="subscribe-form">
                        <div class="form-group">
                            <input style="font-family: Vazir-Medium" type="text" class="form-control mb-2 text-center"
                                   placeholder="رایانامه خود را وارد نمایید">
                            <input style="font-family: Vazir-Medium" type="submit" value="عضویت"
                                   class="form-control submit px-3">
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget mb-5">
                    <img src="{% static 'images/Logo1.png' %}" alt="Italian Trulli"
                         style="height: 75%; width: 75%; margin-right: 25%">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p style="color: #232323">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a
                        style="color: #232323"
                        href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
            <div class="d-flex justify-content-center ftco-footer-widget mb-5">
            <!--                    <h2 style="font-family: Vazir-Bold" class="ftco-heading-2 mb-0">ما را دنبال کنید:</h2>-->
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                <li class="ftco-animate"><a href="#"><span id="x" class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span id="xx" class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span id="xxx" class="icon-instagram"></span></a></li>
            </ul>
        </div>
    </div>

    </div>
</footer>