{% extends 'base.html' %}
{% load static %}

{% block title %}عنوان تمرین{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<link rel="stylesheet" href="{% static 'css/upload.css' %}">
<link rel="stylesheet" href="{% static 'css/question_box.css' %}">
{% endblock %}
{% block content %}

<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_3.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 style="font-family: Vazir-Bold" class="mb-2 bread">تمرین</h1>
                <p style="font-family: Vazir-Medium" class="breadcrumbs"><span class="mr-2"><a href="index.html">صفحه نخست <i
                        class="ion-ios-arrow-back"></i></a></span> <span class="mr-2"><a
                        href="index.html">کلاس های من <i class="ion-ios-arrow-back"></i></a></span> <span>عنوان درس<i
                        class="ion-ios-arrow-back"></i></a></span> <span>تمرین<i
                        class="ion-ios-arrow-back"></i></span></p>
            </div>
            <div class="row col-12">
                <p style=" margin-left: 0; border-radius:50%; box-shadow: 0 10px 10px 0 rgba(255, 0, 0, .50), 0 10px 15px 0 rgba(255, 102, 102, .15)"
                   class="mb-0" style="padding: 5px"><a style="font-family: Vazir-Medium" href="#"
                                                        class="btn btn-danger">حذف تمرین<span
                        class="icon-delete"></span></a>
                    <!-- Button trigger modal -->

                    <!-- Button trigger modal -->
                </p>
                <p style=" margin-left: 10px; border-radius:50%; box-shadow: 0 10px 10px 0 rgba(255, 204, 153, .50), 0 10px 15px 0 rgba(255, 204, 0, .15)"
                   class="mb-0" style="padding: 5px"><a style="font-family: Vazir-Medium" href="#"
                                                        class="btn btn-secondary">ویرایش تمرین<span
                        class="icon-edit"></span></a>
                </p>
            </div>
        </div>
    </div>
</section>

<div class="content-area" dir="rtl">
    <aside class="sidebar-area" role="complementary">
        <nav class="side-navigation" role="navigation">
            <ul class="menu">
                <li class="menu-item" style="margin-top: 5%">
                    <a onclick="openCity(event, 'tamrin')" id="defaultOpen" href="#" style="font-family: Vazir-Medium">صورت
                        تمرین</a>
                </li><!-- /.menu-item -->
                <li class="menu-item">
                    <a onclick="openCity(event, 'studentlist')" style="font-family: Vazir-Medium" href="#">کلیه ارسال
                        ها</a>
                </li><!-- /.menu-item -->
                <li class="menu-item" style="font-family: Vazir-Medium">
                    <a onclick="openCity(event, 'lastsend')" href="#">آخرین ارسال</a>
                </li><!-- /.menu-item -->
                <li class="menu-item" style="font-family: Vazir-Medium">
                    <a onclick="openCity(event, 'question')" href="#">پرسش و پاسخ</a>
                </li><!-- /.menu-item -->
            </ul><!-- /.menu -->


            <!--            <div class="tab">-->
            <!--                <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">London</button>-->
            <!--                <button class="tablinks" onclick="openCity(event, 'Paris')">Paris</button>-->
            <!--                <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button>-->
            <!--            </div>-->

        </nav><!-- #site-navigation -->
    </aside><!-- #secondary -->
    <div class="container-fluid" style="overflow-x: auto">
        <div class="row">
            <div id="tamrin" class="tabcontent col-lg-10">
                <div class="container-fluid">
                    <div class="row" style="margin-top: 2%">
                        <h3 class="col-sm-8"
                            style="margin-top:10px; margin-right: 10px; font-family: Vazir-Bold; font-size: 18px">عنوان
                            تمرین</h3>
                        <p class="col-sm-3" style=" margin-left: 10px; border-radius:50%"
                           class="mb-0" style="padding: 5px"><a style="font-family: Vazir-Medium" href="#"
                                                                class="btn btn-primary">دانلود فایل<span
                                class="icon-download"></span></a>
                        </p>
                    </div>
                </div>
                <hr>
                <div style="font-family: Vazir-Medium; margin-bottom: 10px">
                    <p style="margin-left: 2%; margin-right: 2%">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                        چاپ و با
                        استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                        و برای
                        شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای
                        زیادی در
                        شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت
                        بیشتری
                        را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این
                        صورت می
                        توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان
                        مورد نیاز
                        شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده
                        قرار
                        گیرد. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                        است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز
                        و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته،
                        حال و
                        آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان
                        رایانه ای
                        علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که
                        تمام و
                        دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی
                        دستاوردهای
                        اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد. </p>
                </div>
            </div>

            <div id="studentlist" class="tabcontent col-md-10">
                <div class="container-fluid">
                    <div class="row" style="margin-top: 2%">
                        <h3 class="col-sm-8"
                            style="margin-top:10px; margin-right: 10px; font-family: Vazir-Bold; font-size: 18px">کلیه
                            ارسال های
                            تمرین فلان</h3>

                        <div>
                            <p class="mb-0" style="padding: 5px"><a style="font-family: Vazir-Medium"
                                                                    href="#"
                                                                    class="btn btn-primary">دریافت همه<span
                                    class="icon-download"></span></a>
                            </p>
                        </div>
                    </div>
                </div>
                <hr>
                <table style="font-family: Vazir-Medium; margin-bottom: 10px">
                    <tr>
                        <th>#</th>
                        <th>نام خانوادگی</th>
                        <th>نام</th>
                        <th>شماره دانش آموزی</th>
                        <th>تاریخ بارگزاری</th>
                        <th>لینک دریافت</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>علیزاده</td>
                        <td>سمیه</td>
                        <td>951482512</td>
                        <td>1398/11/12</td>
                        <td><a class="icon-download" style="margin-right: 5%; margin-left: 5%"><a
                                href="#">دریافت</a></a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>علیزاده</td>
                        <td>سمیه</td>
                        <td>951482512</td>
                        <td>1398/11/12</td>
                        <td><a class="icon-download" style="margin-right: 5%; margin-left: 5%"><a
                                href="#">دریافت</a></a>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>علیزاده</td>
                        <td>سمیه</td>
                        <td>951482512</td>
                        <td>1398/11/12</td>
                        <td><a class="icon-download" style="margin-right: 5%; margin-left: 5%"><a
                                href="#">دریافت</a></a>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>علیزاده</td>
                        <td>سمیه</td>
                        <td>951482512</td>
                        <td>1398/11/12</td>
                        <td><a class="icon-download" style="margin-right: 5%; margin-left: 5%"><a
                                href="#">دریافت</a></a>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>علیزاده</td>
                        <td>سمیه</td>
                        <td>951482512</td>
                        <td>1398/11/12</td>
                        <td><a class="icon-download" style="margin-right: 5%; margin-left: 5%"><a
                                href="#">دریافت</a></a>
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>علیزاده</td>
                        <td>سمیه</td>
                        <td>951482512</td>
                        <td>1398/11/12</td>
                        <td><a class="icon-download" style="margin-right: 5%; margin-left: 5%"><a
                                href="#">دریافت</a></a>
                        </td>
                    </tr>
                </table>
            </div>

            <div id="lastsend" class="tabcontent col-md-10">
                <div class="container-fluid">
                    <div class="row" style="margin-top: 2%">
                        <h3 class="col-sm-12"
                            style="margin-top:10px; margin-right: 10px; font-family: Vazir-Bold; font-size: 18px">آخرین
                            ارسال
                            تمرین فلان</h3>
                    </div>
                    <hr>
                    <div style="text-align: right; font-family: Vazir-Medium" class="w-100 p-3 alert alert-danger">
                        <strong>تذکر</strong> مهلت ارسال این پروژه به اتمام رسیده است.
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="upload col-md-10">
                                <div class="upload-box">
                                    <i class="fa fa-cloud-upload fa-4x"></i>
                                    <div class="edit">
                                        <span style="font-family: Vazir-Medium">فایل را کشیده و یا انتخاب کنید</span>
                                        <button style="border-top-right-radius:20px; border-bottom-left-radius: 20px; font-family: Vazir-Medium"
                                                class="button primary">انتخاب فایل
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div id="question" class="tabcontent col-md-10">
                <div class="container-fluid">
                    <div class="row" style="margin-top: 2%">
                        <h3 class="col-sm-8"
                            style="margin-top:10px; margin-right: 10px; font-family: Vazir-Bold; font-size: 18px">پرسش و
                            پاسخ</h3>

                        <div>
                            <p class="mb-0" style="padding: 5px"><a style="font-family: Vazir-Medium"
                                                                    href="#"
                                                                    class="btn btn-secondary">افزودن سوال<span
                                    class="icon-plus"></span></a>
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div style="margin-bottom:20px; padding: 15px" class="qcard qcard-1">
                        <h3 style="font-family:Vazir-Bold; font-size: 22px">عنوان سوال</h3>
                        <p style="font-family:Vazir-Medium;">سلام
                            همونطور که در توضیحات پروژه هم ذکر شده، فرمول‌ها برای نسخه رایج (Binary) هستند و برای اطلاع
                            از تفاوت نسخه Multiclass می‌تونید این مقاله رو مطالعه کنید.
                            بله، همونطور که گفتید باید به کمک تعداد پیش‌بینی درست و نادرست هر دسته‌بندی/کلاس، ارزیابی رو
                            انجام بدید.
                            به عنوان مثال Precision یک کلاس، برابر هست با نسبت تعداد پیش‌بینی درست اون کلاس به کل تعداد
                            پیش‌بینی همون کلاس.
                            همچنین از اونجا که با این روش معیار ارزیابی برای هر کلاس بصورت جداگانه محاسبه میشه، نیاز به
                            استفاده از یکی از روش‌های میانگین‌گیری (Micro Average یا Macro Average) برای رسیدن به یک
                            ارزیابی نهایی دارید.</p>
                        <hr>
                        <div class="icard">
                            <div id="ifont" class="icon-image"
                                 style="margin: 10px; font-size: 65px; text-align: center"></div>
                            <hr>
                            <p style="font-family: Vazir-Medium; font-size: 10px; margin-left: 10px; margin-right: 10px;">
                                اسم فایل (محدود شود)</p>
                        </div>
                        <div id="inputcomment0" class="cmd" style="display: none; font-family: Vazir-Medium">
                            <div class="form-group" style="margin-bottom: 60px; margin-top: 15px">
                                <textarea class="form-control" rows="5"
                                          style="border-top-right-radius: 20px; border-bottom-left-radius: 20px"></textarea>
                                <p class="btn btn-light" onclick="closecomment('inputcomment0', 'rp_id0')"
                                   style="float: right; display: inline-block; margin-top: 10px; margin-right: 10px">
                                    لغو</p>
                                <p class="btn btn-success"
                                   style="float: right; display: inline-block; margin-top: 10px;; margin-right: 10px">
                                    ارسال</p>
                            </div>
                        </div>
                        <hr>
                        <h6 style="display: inline; float: right; padding: 5px"><p style="font-family: Vazir-Medium"
                                                                                   href="#">نام نویسنده</p></h6>
                        <h6 style="display: inline; float: right; padding: 5px">1398/11/12 <p
                                style="margin-right: 5px; margin-left: 5px; display: inline;">|</p>
                            <p
                                    style="display: inline; font-family: Vazir-Medium" href="#">13:15:49</p></h6>
                        <div id="rp_id0" class="btn btn-dark" onclick="opencomment('inputcomment0','rp_id0')"
                             style="float: right; font-family: Vazir-Medium; font-size: 12px; margin-right: 10px">پاسخ
                        </div>

                        <h6 class="hov" style="display: inline; padding: 5px"><a style="font-family: Vazir-Medium"
                                                                                 href="#" class="hov"><span
                                class="icon-edit hov"></span>ویرایش</a></h6>
                        <h6 dir="rtl" class="hov2" data-toggle="modal" data-target="#exampleModal"
                            style="display: inline; padding: 5px">
                            <a style="font-family: Vazir-Medium" href="#" class="hov2">
                                <span class="icon-delete hov2" data-toggle="modal" data-target="#exampleModal"></span>حذف</a>
                        </h6>
                    </div>

                    <div style="float:right; margin-bottom:20px; padding: 15px" class="qcardx qcard-1 col-11">
                        <div style="height: 80px;border-right-style: solid; border-color: #DEA44A; border-right-style: solid;">
                            <p style="font-family:Vazir-Thin; height: 77px; overflow:hidden; margin: 8px">سلام همونطور
                                که در توضیحات پروژه هم ذکر شده، فرمول‌ها برای نسخه رایج
                                (Binary) هستند و برای اطلاع از تفاوت نسخه Multiclass می‌تونید این مقاله رو مطالعه کنید.
                                بله، همونطور که گفتید باید به کمک تعداد پیش‌بینی درست و نادرست هر دسته‌بندی/کلاس،
                                ارزیابی رو انجام بدید. به عنوان مثال Precision یک کلاس، برابر هست با نسبت تعداد پیش‌بینی
                                درست اون کلاس به کل تعداد پیش‌بینی همون کلاس. همچنین از اونجا که با این روش معیار
                                ارزیابی برای هر کلاس بصورت جداگانه محاسبه میشه، نیاز به استفاده از یکی از روش‌های
                                میانگین‌گیری (Micro Average یا Macro Average) برای رسیدن به یک ارزیابی نهایی دارید.</p>
                        </div>
                        <hr style="background: #DEA44A">
                        <p style="font-family:Vazir-Medium;">شاید براتون اتفاق افتاده باشه که یه متن طولانی داخل یه باکس
                            باعث بزرگ شدن طولی یا عرضی بدی بشه خیلی مواقع هم از دستتون در میره و اصلا متوجهش نمیشین چون
                            انتظار متن طولانی رو ندارین و مثلا سر یه عنوان طولانی ظاهر به کلی بهم میریزه.</p>
                        <hr>
                        <div class="icard">
                            <div id="ifont" class="icon-image"
                                 style="margin: 10px; font-size: 65px; text-align: center"></div>
                            <hr>
                            <p style="font-family: Vazir-Medium; font-size: 10px; margin-left: 10px; margin-right: 10px;">
                                اسم فایل (محدود شود)</p>
                        </div>
                        <div id="inputcomment" class="cmd" style="display: none; font-family: Vazir-Medium">
                            <div class="form-group" style="margin-bottom: 60px; margin-top: 15px">
                                <textarea class="form-control" rows="5"
                                          style="border-top-right-radius: 20px; border-bottom-left-radius: 20px"></textarea>
                                <p class="btn btn-light" onclick="closecomment('inputcomment', 'rp_id1')"
                                   style="float: right; display: inline-block; margin-top: 10px; margin-right: 10px">
                                    لغو</p>
                                <p class="btn btn-success"
                                   style="float: right; display: inline-block; margin-top: 10px;; margin-right: 10px">
                                    ارسال</p>
                            </div>
                        </div>
                        <!-- Button trigger modal -->
                        <hr>
                        <h6 style="display: inline; float: right; padding: 5px"><p style="font-family: Vazir-Medium"
                                                                                   href="#">نام نویسنده</p></h6>
                        <h6 style="display: inline; float: right; padding: 5px">1398/11/12 <p
                                style="margin-right: 5px; margin-left: 5px; display: inline;">|</p>
                            <p
                                    style="display: inline; font-family: Vazir-Medium" href="#">13:15:49</p></h6>
                        <div id="rp_id1" class="btn btn-dark" onclick="opencomment('inputcomment','rp_id1')"
                             style="float: right; font-family: Vazir-Medium; font-size: 12px; margin-right: 10px">پاسخ
                        </div>

                        <h6 class="hov" style="display: inline; padding: 5px"><a style="font-family: Vazir-Medium"
                                                                                 href="#" class="hov"><span
                                class="icon-edit hov"></span>ویرایش</a></h6>
                        <h6 class="hov2" data-toggle="modal" data-target="#exampleModal"
                            style="display: inline; padding: 5px"><a style="font-family: Vazir-Medium"
                                                                     href="#" class="hov2"><span
                                class="icon-delete hov2" data-toggle="modal" data-target="#exampleModal"></span>حذف</a>
                            <!-- Button trigger modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 style="font-family: Vazir-Bold" class="modal-title"
                                                id="exampleModalLabel">اخطار برای حذف سوال</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div style="font-family: Vazir-Medium" class="modal-body">
                                            آیا پیام شما حذف شود ؟
                                        </div>
                                        <div style="font-family: Vazir-Medium" class="modal-footer">
                                            <button type="button" class="btn " data-dismiss="modal">ببند</button>
                                            <button type="button" class="btn btn-danger">حذف کن</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Button trigger modal -->
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--    <aside class="sidebar-area" role="complementary">-->
<!--        <nav class="side-navigation" role="navigation"></nav>&lt;!&ndash; #site-navigation &ndash;&gt;-->
<!--    </aside>&lt;!&ndash; #secondary &ndash;&gt;-->


</div><!-- /.content-area -->
{% endblock %}

{% block extra_js %}
<script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>
<script>
    (function () {

        $('.upload-box')
            .on('dragenter dragover', function () {
                $(this).addClass('hover');
            })
            .on('dragend dragleave drop', function () {
                $(this).removeClass('hover');
            });

    })();
</script>
<script>
    function opencomment(cm_id, rp_id) {
        var x = document.getElementById(cm_id);
        var y = document.getElementById(rp_id);
        x.style.display = "block";
        y.style.display = "none";
    }

    function closecomment(cm_id, rp_id) {
        var x = document.getElementById(cm_id);
        var y = document.getElementById(rp_id);
        x.style.display = "none";
        y.style.display = "block";

    }

</script>
{% endblock %}