{% extends 'base.html' %}
{% load static %}
{% block title %} افتخارات {% endblock %}

{% block content %}
<header class="hero">
    <div class="hero-image" style="background-image: url({% static '/images/حیاط-دبیرستان-علامه-حلی-۵.JPG' %});"></div>
    <h1 class="display-3">افتخارات</h1>
</header>

<section>
    <div class="container py-5">
        <div class="row g-3">
            <div class="col-md-4">
                <label for="quicksearch" class="form-label">جست‌وجو</label>
                <input type="text" class="form-control" id="quicksearch" placeholder="عنوانی را جست‌وجو کنید...">
            </div>
            <div class="col-md-4">
                <label for="firstSelector" class="form-label">حوزه</label>
                <select id="firstSelector" class="form-select">
                    <option value="">همه ی حوزه ها</option>
                    {% for cat in all_cats %}
                    {% if cat.is_honored %}
                    <option value="{{ cat.title }}">
                        {{ cat.title }}
                    </option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <label class="form-label" for="selectorTwo">سال تحصیلی</label>
                <select id="selectorTwo" class="form-select">
                    <option>همه دوره‌ها</option>
                    {% for per in all_periods %}
                    <option>
                        {{ per }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container pb-5">
        <div class="row g-3">
            <div id="not-found" class="h4 text-center my-5 text-muted d-none">
                نتیجه‌ای یافت نشد!
            </div>
            {% for honor_card in all_honors %}
            <div class="item col col-12 col-md-6 col-lg-4 h-100 {{ honor_card.get_class }}" data-period="{{honor_card.period}}">
                <div class="bg-light shadow-sm rounded p-3 h-100">
                    <div class="row">
                        <div class="col col-auto">
                            <img src="{{ honor_card.avatar.url }}" width="80" class="rounded">
                        </div>
                        <div class="col">
                            <h4>
                                <span class="honor-name">
                                    {{honor_card.name}}
                                </span>
                                <div class="badge bg-secondary honor-period">
                                    {{honor_card.period}}
                                </div>
                            </h4>
                            <h6 class="text-muted lh-base honor-text">
                                {{honor_card.title}}<br>
                                {{honor_card.title_2}}&zwnj;<br>
                                {{honor_card.title_3}}&zwnj;
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
{% block extra_js %}
<script src="{% static 'js/honors.js' %}"></script>
{% endblock %}