<div class="col-md-12 col-lg-4 ">
    <div dir="rtl"
         style="margin-right:5px;margin-top: 10px;margin-left: 5px;margin-bottom: 10px; height:170px;border-radius: 0px 20px 0px 20px; box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 5px 15px 0 rgba(0, 0, 0, 0.1);"
         class="row">
        <a href="{{ post_url }}" class="col-md-4 block-20 d-flex align-items-end"
           style="border-radius: 0px  20px 0px 0px; height:170px; background-image: url({{ post_img_url }});">
        </a>
        <div style="border-radius: 0px 0px 0px 20px; height:170px" class="col-md-8 text bg-white p-4">
            <h3 style="font-family: Vazir-Medium" class="heading"><a href="{{ post_url }}">اسم طرف</a></h3>
            <p style="font-family: Vazir-Medium">مقام طرف</p>
            <div style="direction: rtl" class="d-flex align-items-center mt-4">
                <p style="font-family: Vazir-Medium" class="ml-auto mb-0">
                    <a style="font-family: Vazir-Medium; color: #74A29E" href="#" class="mr-2">یچی دیگه</a>
                </p>
            </div>
        </div>
    </div>
</div>
