{% extends 'base.html' %}
{% load static %}

{% block title %} صفحه نخست {% endblock %}

{% block meta_description %}this is description{% endblock %}

{% block content %}
<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image:url({% static '/images/bg_1.jpg' %});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center"
                 data-scrollax-parent="true">
                <div class="col-md-8 text-center ftco-animate">
                    <h1 style="font-family:Vazir-Bold; text-align: center" class="mb-4">مهم اطلاعیه 1</h1>
                    <p style="font-family:Vazir-Medium; text-align: center"><a href="#"
                                                                               class="btn btn-secondary px-4 py-3 mt-3">بیشتر
                        بخوانید</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item" style="background-image:url({% static 'images/bg_2.jpg' %});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center"
                 data-scrollax-parent="true">
                <div class="col-md-8 text-center ftco-animate">
                    <h1 style="font-family:Vazir-Bold; text-align: center" class="mb-4">مهم اطلاعیه 2</h1>
                    <p style="font-family:Vazir-Medium; text-align: center"><a href="#"
                                                                               class="btn btn-secondary px-4 py-3 mt-3">بیشتر
                        بخوانید</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-services ftco-no-pb">
    <div class="container-wrap">
        <div class="row no-gutters">
            <div style="background: #dea44a" class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate">
                <div class="media block-6 d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-teacher"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 style="font-family:Vazir-Bold; text-align: center" class="heading">معلمان معتبر</h3>
                        <p style="font-family:Vazir-Medium; text-align: center">لورم ایپسوم متن ساختگی با تولید سادگی
                            نامفهوم از صنعت چاپ و با
                            استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه مجله در ستون و سطر آنچنان که لازم
                            است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای.</p>
                    </div>
                </div>
            </div>
            <div style="background: #73a29e" class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate">
                <div class="media block-6 d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-reading"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 style="font-family:Vazir-Bold; text-align: center" class="heading">امور آموزشی</h3>
                        <p style="font-family:Vazir-Medium; text-align: center">لورم ایپسوم متن ساختگی با تولید سادگی
                            نامفهوم از صنعت چاپ و با
                            استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه مجله در ستون و سطر آنچنان که لازم
                            است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای.</p>
                    </div>
                </div>
            </div>
            <div style="background: #9d6d4d" class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate">
                <div class="media block-6 d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-books"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 style="font-family:Vazir-Bold; text-align: center" class="heading">کتاب ها و کتابخانه
                            ها</h3>
                        <p style="font-family:Vazir-Medium; text-align: center">لورم ایپسوم متن ساختگی با تولید سادگی
                            نامفهوم از صنعت چاپ و با
                            استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه مجله در ستون و سطر آنچنان که لازم
                            است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای.</p>
                    </div>
                </div>
            </div>
            <div style="background: #294223" class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate ">
                <div class="media block-6 d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-diploma"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 style="font-family:Vazir-Bold; text-align: center" class="heading">گواهی نامه ها</h3>
                        <p style="font-family:Vazir-Medium; text-align: center">لورم ایپسوم متن ساختگی با تولید سادگی
                            نامفهوم از صنعت چاپ و با
                            استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه مجله در ستون و سطر آنچنان که لازم
                            است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section dir="rtl" class="ftco-section ftco-no-pt ftc-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-md-5 order-md-last wrap-about py-5 wrap-about bg-light">
                <div class="text px-4 ftco-animate">
                    <h2 style="color:#9d6d4d ;font-family:Vazir-Bold" class="mb-4">عنوانی انتخاب نشده است</h2>
                    <p style="font-family:Vazir-Medium">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                        استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                    <p style="font-family:Vazir-Medium">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                        استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                    <p style="font-family:Vazir-Medium"><a href="#" class="btn btn-secondary px-4 py-3">بیشتر
                        بخوانید</a></p>
                </div>
            </div>
            <div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
                <h2 style="color:#9d6d4d ;font-family:Vazir-Bold" class="mb-4">چیزی که ما پیشنهاد میدیم</h2>
                <p style="font-family:Vazir-Medium">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک است. چاپگرها
                    و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و
                    آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه
                    ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. </p>
                <div class="row mt-5">
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span
                                    class="flaticon-security"></span></div>
                            <div class="text">
                                <h3 style="margin-right:5%; color:#9d6d4d ;font-family:Vazir-Bold">عنوان اول</h3>
                                <p style="margin-right:5%; font-family:Vazir-Medium">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                                    صنعت چاپ و با استفاده از طراحان
                                    گرافیک است. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span
                                    class="flaticon-reading"></span></div>
                            <div class="text">
                                <h3 style="margin-right:5%; color:#9d6d4d ;font-family:Vazir-Bold">عنوان دوم</h3>
                                <p style="margin-right:5%; font-family:Vazir-Medium">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                                    صنعت چاپ و با استفاده از طراحان
                                    گرافیک است. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span
                                    class="flaticon-diploma"></span></div>
                            <div class="text">
                                <h3 style="margin-right:5%; color:#9d6d4d ;font-family:Vazir-Bold">عنوان سوم</h3>
                                <p style="margin-right:5%; font-family:Vazir-Medium">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                                    صنعت چاپ و با استفاده از طراحان
                                    گرافیک است. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span
                                    class="flaticon-education"></span></div>
                            <div class="text">
                                <h3 style="margin-right:5%; color:#9d6d4d ;font-family:Vazir-Bold">عنوان چهارم</h3>
                                <p style="margin-right:5%; font-family:Vazir-Medium">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                                    صنعت چاپ و با استفاده از طراحان
                                    گرافیک است. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span
                                    class="flaticon-jigsaw"></span></div>
                            <div class="text">
                                <h3 style="margin-right:5%; color:#9d6d4d ;font-family:Vazir-Bold">عنوان پنجم</h3>
                                <p style="margin-right:5%; font-family:Vazir-Medium">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                                    صنعت چاپ و با استفاده از طراحان
                                    گرافیک است. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span
                                    class="flaticon-kids"></span></div>
                            <div class="text">
                                <h3 style="margin-right:5%; color:#9d6d4d ;font-family:Vazir-Bold">عنوان ششم</h3>
                                <p style="margin-right:5%; font-family:Vazir-Medium">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                                    صنعت چاپ و با استفاده از طراحان
                                    گرافیک است. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-intro ftco-section ftco-counter ftco-section ftco-counter img" id="section-counter"
         style="background-image: url({% static 'images/DSC_0044_Resized.jpg' %});" data-stellar-background-ratio="0.6">
    <div class="overlay" style="width: 100%; height: 100%"></div>
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section heading-section-black ftco-animate">
                <h2 style="color:#dea44a; font-family:Vazir-Bold; text-align: center" class="mb-4">20 سال موفقیت</h2>
                <p style="font-family:Vazir-Medium; text-align: center">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                    صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
            </div>
        </div>
        <div class="row d-md-flex align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="row d-md-flex align-items-center">
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong style="color:#dea44a; font-family:Vazir-Bold" class="number"
                                        data-number="18">0</strong>
                                <span style="color:white; font-family:Vazir-Bold; text-align: center">عنوان 4</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong style="color:#dea44a; font-family:Vazir-Bold" class="number"
                                        data-number="351">0</strong>
                                <span style="color:white; font-family:Vazir-Bold; text-align: center">عنوان 3</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong style="color:#dea44a; font-family:Vazir-Bold" class="number"
                                        data-number="564">0</strong>
                                <span style="color:white; font-family:Vazir-Bold; text-align: center">عنوان 2</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong style="color:#dea44a; font-family:Vazir-Bold" class="number"
                                        data-number="300">0</strong>
                                <span style="color:white; font-family:Vazir-Bold; text-align: center">عنوان 1</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center" col-md-3 d-flex align-items-center
                ">
                <p style="text-align:center; font-family:Vazir-Medium; text-align: center"><a href="#"
                                                                                              class="btn btn-secondary px-4 py-3 mt-3">بیشتر
                    بدانید</a></p>
            </div>
        </div>
    </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 style="color:#9d6d4d; font-family:Vazir-Bold; text-align: center" class="mb-4">بلاگ</h2>
                <p style="font-family:Vazir-Medium; text-align: center">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                    صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
            </div>
        </div>
        <div class="row">
            {% static 'images/image_1.jpg' as post_pic %}
            {% include 'post_card.html' with post_title='post-test' post_caption='dar inja caption neveshte mishavad' post_writer='themn' post_url='' post_img_url=post_pic post_day=1 post_month='dey' post_year=1398 post_comment_counter=0 %}
            {% include 'post_card.html' with post_title='post-test' post_caption='dar inja caption neveshte mishavad' post_writer='themn' post_url='' post_img_url=post_pic post_day=1 post_month='dey' post_year=1398 post_comment_counter=0 %}
            {% include 'post_card.html' with post_title='post-test' post_caption='dar inja caption neveshte mishavad' post_writer='themn' post_url='' post_img_url=post_pic post_day=1 post_month='dey' post_year=1398 post_comment_counter=0 %}

        </div>
    </div>
</section>


<section class="ftco-intro" style="background-image: url({% static 'images/C-_Users_Mohamma_Desktop_DSC_00672.jpg' %});"
         data-stellar-background-ratio="0.5">
    <div class="overlay" style="width: 100%; height: 100%"></div>
    <div class="container">
        <div class="row">
            <div dir="ltr" class="col-md-3 d-flex align-items-center">
                <p class="mb-0"><a style="font-family:Vazir-Medium" href="#" class="btn btn-secondary px-4 py-3">همین
                    حالا شروع کن</a></p>
            </div>
            <div class="col-md-9">
                <h2 style="color:#dea44a; font-family:Vazir-Bold">عنوانی برای این متن انتخاب کنید</h2>
                <p style="font-family:Vazir-Medium" class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                    چاپ و با استفاده از طراحان گرافیک
                    است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                    مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
