{% extends 'base.html' %}
{% load static %}
{% load jformat %}

{% block content %}
<header style="height: 500px" class="carousel slide d-flex justify-content-center align-items-stretch"
    id="headerCarousel" data-bs-slide="carousel">
    <div class="carousel-indicators">
        {% for slider_item in slider_contents %}
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="{{ forloop.counter0 }}"
            class="{% if forloop.counter == 1%}active{%endif%}"></button>
        {% endfor %}
    </div>
    <div class="carousel-inner">

        {% for slider_item in slider_contents %}
        <div
            class="carousel-item active text-center position-relative d-flex align-items-center justify-content-center h-100 flex-column px-5">
            <div class="position-absolute top-0 bottom-0 start-0 end-0 h-100"
                style="background-image: url({{ slider_item.img.url }}); filter: brightness(0.3); z-index: -1; background-size: cover;">
            </div>
            <h1 class="text-white display-2">
                {{ slider_item.title }}
            </h1>
            <p class="fs-3 text-white text-opacity-50">
                {{ slider_item.description }}
            </p>
            {% if slider_item.post %}
            <a href="{{ slider_item.post.get_absolute_url }}" class="btn btn-outline-primary btn-lg">بیش‌تر بدانید</a>
            {% endif %}
        </div>
        {%endfor%}
    </div>
</header>
<main>
    <div class="container my-5">
        <div class="row">
            <div class="col col-12 col-lg-9">
                <h2>نوشته‌ها</h2>
                <div class="row">
                    {% for post in latest_posts %}
                    <div class="col col-12 col-sm-6 col-md-4">
                        <div class="card border-0 shadow-sm">
                            <img src="{{ post.img.url }}" alt="{{ post.title }}" class="card-img-top" />
                            <div class="card-body">
                                <h5 class="card-title">{{ post.title }}</h5>
                                <h6 class="card-subtitle text-muted">
                                    {{ post.date | date:"Y/m/d" }}
                                </h6>
                                <div class="card-text text-muted text-truncate my-3">
                                    {{ post.description }}
                                </div>
                                <a href="{{ post.get_absolute_url }}"
                                    class="btn btn-secondary rounded-pill d-inline-block me-auto stretched-link float-start">
                                    بیش‌تر بخوانید
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col pt-5 pt-lg-0">
                <h2>رویدادها</h2>
                {% for event in events %}
                {% ifchanged event.order %}
                <h5 class="mt-4 text-body">{{event.day}}</h5>
                {% endifchanged %}
                <div class="text-muted me-1">{{event.text}}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% include 'school_history.html' %}
{% endblock %}