{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center" style="background-image: url({% static '/images/کتابخانه-دبیرستان-علامه-حلی۵.jpg' %}); background-position: center center;">
        <div class="col-12 col-md-6 col-lg-4 px-3 py-3 py-md-5">
            <div class="shadow-sm bg-light p-4 rounded">
                {% if login_form.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        نام کاربری یا رمز عبور صحیح نمی‌باشد.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
                <form id="login-form" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label" for="username">نام کاربری</label>
                        <input type="text" class="form-control" id="username" name="username" required placeholder="نام کاربری شما">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="password">گذرواژه</label>
                        <input type="password" class="form-control" id="password" name="password" required placeholder="گذرواژه شما">
                    </div>
                    <div class="mb-3">
                        <input id="checkbox" name="remember_me" type="checkbox" checked class="align-middle ms-1">
                        <label for="checkbox">مرا به خاطر بسپار</label>
                    </div>
                    <input type="hidden" name="submit" value="ورود">
                    <button class="btn btn-primary btn-lg d-block w-100" type="submit">ورود</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

