<!DOCTYPE html>
<html lang="en">
<head>
    <title>sign-in testing</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--    <link rel="stylesheet" href="css/login.css">-->

</head>
<body>
<h2>ورود به پنل کاربری</h2>
{% if form.errors %}
<p style="color: red">نام کاربری و گذرواژه شما با هم تطابق ندارد، مجددا تلاش کنید</p>
{% endif %}
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}"/>
    {% for field in form %}
    <p>
        {{ field.label_tag }}<br>
        {{ field }}<br>
        {% for error in field.errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}
    {% if field.help_text %}
    <p>
        <small style="color: grey">{{ field.help_text }}</small>
    </p>
    {% endif %}
    </p>
    {% endfor %}
    <button type="submit">Log in</button>
    <a href="{% url 'signup' %}">New to My Site? Sign up</a>
</form>

<!--<div class="login">-->
<!--    <h1>Login</h1>-->
<!--    <form method="post">-->
<!--        <input type="text" name="u" placeholder="Username" required="required" />-->
<!--        <input type="password" name="p" placeholder="Password" required="required" />-->
<!--        <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>-->
<!--    </form>-->
<!--</div>-->

<footer>

</footer>

</body>
</html>
