{% load static %}
{% load jformat %}
<nav class="navbar navbar-expand-lg navbar-light bg-light bg-opacity-75 sticky-top shadow-sm"
    style="transition: 150ms; backdrop-filter: blur(10px);">
    <div class="container-fluid">
        <a class="navbar-brand me-0 me-sm-3" href="/">
            <img src="{% static 'images/لوگو-دبیرستان-علامه-حلی-۵-دوره-دوم.png' %}" height="36" class="ms-2" />
            <b>
                دبیرستان
                <span class="d-none d-sm-inline">متوسطه دوم</span>
                علامه حلی پنج
            </b>
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pre_registration' %}">پیش ثبت‌نام پایه دهم</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">درباره ما</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'elearning_stuff' %}">آموزش آنلاین</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'teachers' %}">دبیران</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown">آرشیو مطالب</a>
                    <ul class="dropdown-menu text-end">
                        <li><a href="{% url 'blog' %}" class="dropdown-item">همه</a></li>
                        <li><a href="{% url 'blog' tag='مدیریت' %}" class="dropdown-item">مدیریت</a></li>
                        <li><a href="{% url 'blog' tag='آموزشی' %}" class="dropdown-item">آموزشی</a></li>
                        <li><a href="{% url 'pansouq' pansouq_id=2 %}" class="dropdown-item">پژوهشی</a></li>
                        <li><a href="{% url 'blog' tag='المپیاد' %}" class="dropdown-item">المپیاد</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">ارتباط با ما</a>
                </li>
                {% if perms.courseApp.add_report %}
                <li class="nav-item"><a href="{% url 'report' %}" class="nav-link">بارگذاری کارنامه‌ها</a></li>
                {% endif %}
                {% if perms.courseApp.see_reports %}
                <li class="nav-item"><a href="{% url 'studentReports' %}" class="nav-link">کارنامه‌ها</a></li>
                {% endif %}
                <li class="nav-item">
                    <a href="{% url 'profile' %}" class="nav-link">
                        {%if not user.is_authenticated %}
                        پنل کاربری
                        {% else %}
                        پنل کاربری ({{ user.last_name }})
                        {% endif %}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>