{% extends 'base.html' %}
{% load static %}
{% block title %} حضور و غیاب | وبسایت دبیرستان دوره دوم علامه حلی ۵ تهران {% endblock %}
{% block content %}

    <hr>

    <section dir="rtl" class="ftco-section ftco-no-pt ftc-no-pb">
        <div class="container text-center" style="padding-bottom: 20px">
            <div dir="ltr" class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        دهم
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="/eLearning/check_classes?zang=1&class=10">زنگ۱</a>
                        <a class="dropdown-item" href="/eLearning/check_classes?zang=2&class=10">زنگ۲</a>
                        <a class="dropdown-item" href="/eLearning/check_classes?zang=3&class=10">زنگ۳</a>
                        <a class="dropdown-item" href="/eLearning/check_classes?zang=4&class=10">زنگ۴</a>
                    </div>
                </div>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        یازدهم
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="/eLearning/check_classes?zang=1&class=11">زنگ۱</a>
                        <a class="dropdown-item" href="/eLearning/check_classes?zang=2&class=11">زنگ۲</a>
                        <a class="dropdown-item" href="/eLearning/check_classes?zang=3&class=11">زنگ۳</a>
                        <a class="dropdown-item" href="/eLearning/check_classes?zang=4&class=11">زنگ۴</a>
                    </div>
                </div>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        دوازدهم
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="/eLearning/check_classes?zang=1&class=12">زنگ۱</a>
                        <a class="dropdown-item" href="/eLearning/check_classes?zang=2&class=12">زنگ۲</a>
                        <a class="dropdown-item" href="/eLearning/check_classes?zang=3&class=12">زنگ۳</a>
                        <a class="dropdown-item" href="/eLearning/check_classes?zang=4&class=12">زنگ۴</a>
                    </div>
                </div>

            </div>
            <br>
            {#            {{ response }}#}
            <table class="table table-hover  m-auto">
                <thead><strong>لیست حضور و غیاب آنلاین زنگ {{ request.GET.zang }} کلاسهای {{ request.GET.class }}
                    ام</strong>
                <th>کد دانش آموزی</th>
                <th>نام و نام خانوادگی</th>
                <th>مدت زمان حضور</th>
                <th>وضعیت</th>
                <th>موبایل مادر</th>
                <th>موبایل دانش آموز</th>
                </thead>
                <tbody>
                {#                {{ response }}#}
                <br>
                {% for key, value in response.items %}
                    <tr class="{% if value.check == False %}table-danger{% endif %}"
                        style="cursor: pointer" ;
                        onclick="window.location='';">
                        <td>{{ value.id }}</td>
                        <td>{{ value.name }}</td>
                        <td dir="ltr">{% if value.check == False %}-{% else %}
                            {{ value.out|timeuntil:value.in }}{% endif %}</td>
                        <td dir="ltr">{% if value.check == False %}غایب{% else %}{{ value.in|date:'H:i' }} -
                            {{ value.out|date:'H:i' }}{% endif %}</td>
                        <td>{{ value.mom_phone }}</td>
                        <td>{{ value.student_phone }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>
    </section>
{% endblock %}
