{% extends 'base.html' %}
{% load static %}
{% block title %} پژوهشی | وبسایت دبیرستان دوره دوم علامه حلی ۵ تهران {% endblock %}
{% block meta_description %}فعالیت های پژوهشی دبیرستان علامه حلی ۵ تهران با توجه به معیارهای آموزش آنلاین در قالب کارسوق
    های مهارتی و رقابت هایی با نام پن سوق ادامه یافت{% endblock %}
{% block extra_head %}
    <link href="https://fonts.googleapis.com/css2?family=Amiri&display=swap" rel="stylesheet">
    {#TODO: uncomment below section and fix font in all pages#}
    {#        <link rel="stylesheet" href="{% static 'css/pansouq.css' %}">#}
{% endblock %}
{% block content %}

    <section class="hero-wrap hero-wrap-2"
             style="border-radius: 0 0 50px 50px; background-image: url({% static '/images/سربرگ-پن-سوق-پژوهشی-حلی-۵.png' %});">
        {#        <div class="overlay"></div>#}
    </section>

    <section class="container" style="font-family: Vazir-Medium">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div dir="rtl" class="col-12 border border-secondary rounded m-1">
                    {% if user.is_authenticated %}
                        {% if user.participant.challenging_in %}
                            <h5 class="text-center">
                                شما ({{ user.first_name|add:' '|add:user.last_name }}) در چالش
                                <a class="text-danger"
                                   href="{{ user.participant.challenging_in.file.url }}">{{ user.participant.challenging_in }}</a>
                                شرکت می‌کنید.</h5>
                            {#                    <hr>#}
                        {% else %}
                            <h5 class="text-center">در حال حاضر شما در هیچ چالشی شرکت نمی‌کنید</h5>
                        {% endif %}
                    {% else %}
                        <h5 class="text-center">در صورتی که دانش‌آموز پایه دهم هستید، برای دسترسی کامل به محتوای این
                            صفحه، ابتدا <a class="btn-outline-info"
                                           href="{% url 'login' %}">وارد
                                سایت شوید.</a></h5>
                    {% endif %}
                    <div class="row col-9 text-center m-auto">
                        <table dir="rtl" id="points-table" class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">تاریخ شروع</th>
                                <th scope="col">تاریخ پایان</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for souq in pansouq.get_souqs %}
                                <tr style="cursor: pointer" data-toggle="modal" data-target="#souq{{ souq.id }}">
                                    <td>{{ souq.title }}</td>
                                    <td>{{ souq.start_date|date:"Y/m/d" }}</td>
                                    <td>{{ souq.end_date|date:"Y/m/d" }}</td>
                                </tr>
                                <div class="modal fade" id="souq{{ souq.id }}" tabindex="-1">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">
                                                    لیست چالش‌های
                                                    {{ pansouq.title }}
                                                    - {{ souq.title }}
                                                </h4>
                                            </div>
                                            <!-- Modal body -->
                                            <div class="modal-body m-auto">
                                                <ul class="list-group">
                                                    {% for challenge in souq.get_challenges %}
                                                        <a href="{{ challenge.file.url }}"
                                                           class="list-group-item list-group-item-action">{{ challenge.title }}
                                                            (طراح: {{ challenge.creator.get_full_name }})</a>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-info" data-dismiss="modal">بستن
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {#                ######################################################################################################3#}

                    {#                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">#}
                    {#                        Open modal#}
                    {#                    </button>#}

                    <!-- The Modal -->

                    {#                ######################################################################################################3#}
                </div>
            </div>

            {###############################################################################################################}
            <div class="col-lg-4">

                <div class="col-12 text-center border border-secondary rounded m-1">
                    <p class="text-center">آخرین مطالب مرتبط</p>
                    <hr>
                    {% for fpost in post_list %}
                        {% if forloop.counter0|divisibleby:2 %}
                            <div class="row justify-content-center border border-secondary m-1 bg-light"
                                 style="border-bottom-left-radius: 20px; border-top-right-radius: 20px; cursor: pointer;"
                                 onclick="window.location='{{ fpost.get_absolute_url }}';">
                                <div class="col-4" style="background-image: url({{ fpost.img.url }});
                                        background-size: cover;
                                        border-bottom-left-radius: inherit"></div>

                                <div class="text col-8">
                                    <strong class="heading">{{ fpost.title }}</strong>
                                    <p dir="rtl"
                                       style="width: 100%; overflow: hidden; white-space: nowrap;">{{ fpost.description }}</p>
                                    <hr>
                                    <div class="meta container">
                                        <div class="row">
                                            <div><span class="icon-calendar"></span><a>{{ fpost.date|date:"Y/m/d" }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="row justify-content-center border border-secondary m-1 bg-light"
                                 style="border-bottom-right-radius: 20px; border-top-left-radius: 20px; cursor: pointer"
                                 onclick="window.location='{{ fpost.get_absolute_url }}';">

                                <div class="text col-8">
                                    <strong class="heading">{{ fpost.title }}</strong>
                                    <p dir="rtl"
                                       style="width: 100%; overflow: hidden; white-space: nowrap;">{{ fpost.description }}</p>
                                    <hr>
                                    <div class="meta container">
                                        <div class="row">
                                            <div><span class="icon-calendar"></span><a>{{ fpost.date|date:"Y/m/d" }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-4" style="background-image: url({{ fpost.img.url }});
                                        background-size: cover;
                                        border-bottom-right-radius: inherit;">
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <p class="text-center"><a
                            href="{% url 'blog' tag='پژوهشی' %}"
                            class="btn btn-outline-danger px-4 py-3 mt-3">
                        سایر مطالب در دسته‌بندی پژوهشی
                    </a></p>
                </div>
            </div>
            {###############################################################################################################}
            <div class="col-lg-8">
                <div class="col-12 text-center border border-secondary rounded m-1">
                    <input class="form-control-plaintext text-center" type="text" id="points-table-search"
                           onkeyup="search_table('points-table', 'points-table-search')"
                           placeholder="جدول امتیازات تیم‌ها"
                           title="برای جستجو کلیک کنید">

                    <table dir="rtl" id="points-table" class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">نام تیم</th>
                            <th scope="col">مجموع</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for team in teams_list %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>
                                    <div>
                                        <p class="text-center">
                                            <a class="text-muted" data-toggle="collapse"
                                               href="#team{{ team.id }}"
                                               role="button"
                                               aria-expanded="false" aria-controls="team{{ team.id }}">
                                                {{ team.title }}
                                            </a>
                                        </p>
                                    </div>
                                    <div class="collapse" id="team{{ team.id }}">
                                        <div class="card card-body">
                                            {% for member in team.get_members %}
                                                {{ member.user.last_name }}{% if not forloop.last %} -{% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </td>
                                <td>{{ team.score }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="col-12  border border-secondary rounded m-1">
                    <input class="form-control-plaintext text-center" type="text" id="team-table-search"
                           onkeyup="search_table('team-table', 'team-table-search')"
                           placeholder="تیم من"
                           title="برای جستجو کلیک کنید">
                    {% if user.is_authenticated %}
                        {% if not user.participant.team %}
                            <h5 class="text-center">شما عضو هیچ تیمی نیستید</h5>
                        {% else %}
                            <h5 dir="rtl" class="text-center">شما عضو تیم {{ user.participant.team.title }} هستید.</h5>
                            <table dir="rtl" id="team-table" class="table table-hover text-center">
                                <thead>
                                <tr>
                                    {#                                    <th scope="col">#</th>#}
                                    <th scope="col">چالش</th>
                                    <th scope="col">اعضای تیم</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for participant in user.participant.team.get_members %}
                                    <tr>
                                        {#                                        <th scope="row">{{ forloop.counter }}</th>#}
                                        <td onclick="window.location='{{ participant.challenging_in.file.url }}';"
                                            style="cursor: pointer">{{ participant.challenging_in }}</td>
                                        <td>{{ participant }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}

                    {% else %}
                        <h5 class="text-center">شما عضو هیچ تیمی نیستید</h5>
                    {% endif %}
                </div>
            </div>

            <div class="col-lg-6">
                <div class="col-12  border border-secondary rounded m-1">
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ item.participant }}</td>
                        <td>{{ item.total_points }}</td>
                    </tr>

                    <input class="form-control-plaintext text-center" type="text" id="max-table-search"
                           onkeyup="search_table('max-table', 'max-table-search')"
                           placeholder="امتیازآور ترین دانش‌آموزان"
                           title="برای جستجو کلیک کنید">

                    <table dir="rtl" id="max-table" class="table table-hover text-center">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">نام و نام‌خانوادگی</th>
                            <th scope="col">امتیاز</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in max_points %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ item.participant }}</td>
                                <td>{{ item.total_points }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    {#    <img src="{% static 'images/ته-برگ-پن-سوق-پژوهشی-حلی-۵.jpg' %}" class="img-fluid" width="100%">#}
    {#    </div>#}
    <section class="hero-wrap hero-wrap-2"
             style="border-radius: 50px 50px 0 0; background-image: url(http://allamehelli5.ir/media/thumbnails/%D9%BE%D9%86%D8%B3%D9%88%D9%82-%D8%AD%D9%84%DB%8C%DB%B5.jpg);">
        {#        <div class="overlay"></div>#}
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 style="font-family: Vazir-Bold" class="mb-2 bread">{{ pansouq.title }}</h1>
                    <p style="font-family: Vazir-Medium" class="breadcrumbs"><span
                            class="mr-2">{{ pansouq.description }} <i
                            class="ion-ios-arrow-back"></i></span></p>
                    <p style="font-family:Vazir-Medium; text-align: center;"><a
                            style=" background: rgba(0,0,0,0.5)"
                            href="http://allamehelli5.ir/%D9%86%D9%88%D8%B4%D8%AA%D9%87-%D9%87%D8%A7/%D8%B1%D9%82%D8%A7%D8%A8%D8%AA%D9%87%D8%A7%DB%8C-%D8%AF%D8%A7%D9%86%D8%B4%D8%A2%D9%85%D9%88%D8%B2%DB%8C-%D9%BE%D9%86%D8%B3%D9%88%D9%82/"
                            class="btn btn-secondary px-4 py-3 mt-3">
                        پن‌سوق چیست؟
                    </a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_js %}
    <script>
        function search_table(table_id, input_id) {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById(input_id);
            filter = input.value.toUpperCase();
            table = document.getElementById(table_id);
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
{% endblock %}
