{% extends 'base.html' %}
{% load static %}
{% block title %}کارنامه{% endblock %}
{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static '/images/کارنامه.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 style="font-family: Vazir-Bold" class="mb-2 bread">کارنامها</h1>
                <p style="font-family: Vazir-Medium" class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">صفحه نخست <i
                        class="ion-ios-arrow-back"></i></a></span> <span>دکارنامها <i
                        class="ion-ios-arrow-back"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section dir="rtl" class="ftco-section ftco-no-pt ftc-no-pb">
    <div class="container">
        <div class="" style="min-height: 200px">
            {% for report in reports %}
                <p>
                <a href="{{ report.link }}" download="x.pdf">{{ report.name }}</a>
                </p>

            {% endfor %}
        </div>
    </div>
</section>




{% endblock %}
