{% extends 'base.html' %}
{% load static %}
{% block title %}کارنامه{% endblock %}
{% block content %}
<header class="hero">
    <div class="hero-image" style="background-image: url({% static '/images/کارنامه.jpg' %});"></div>
    <h1 class="display-3">کارنامه‌ها</h1>
</header>

<section class="container col-md-8 my-5 text-center">
    <h3>کارنامه های شما</h3>
    <div class="list-group">
        {% for report in reports %}
            <a href="{{ report.link }}"  class="list-group-item">
                {{ report.name|linebreaksbr }}
            </a>
        {% endfor %}
    </div>
</section>
{% endblock %}
