{% load static %}

<section dir="rtl" class="ftco-section ftco-no-pt ftc-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-md-5 order-md-last wrap-about py-5 wrap-about bg-light">
                <div class="text px-4 ftco-animate">
                    <!--                    <h2 style="color:#9d6d4d; font-family:Vazir-Bold" class="mb-4">عنوانی انتخاب نشده است</h2>-->
                    <br>
                    <p style="font-family:Vazir-Medium; text-align: justify">
                        ايده اوليه تاسيس دبيرستان استعداد درخشان علامه حلي ۵ در سال ۸۹ و در جمعي از فارغ التحصيلان و
                        دانشجويان دانشگاه صنعتي شريف در بستري فرهنگي و با هدف آموزش تيزهوشان شکل گرفت. جمعي از مدال
                        داران المپیاد و رتبه هاي برتر کنکور با انگيزه فعاليت هائي در حوزه ي اجتماعي و انساني به طور هرچه
                        مستقيم تر به دنبال ايجاد محيطي براي رشد چندجانبه شخصيتي، روحي و علمي و مهارتي تعدادي از جوانان
                        بودند که نزد خود اين محيط را "مدرسه زندگي" مي ناميدند.
                    </p>
                    <p style="font-family:Vazir-Medium; text-align: justify">
                        سپس به مدت يک سال و نيم، تحقيقات در جزئيات آموزشي، فرهنگي و گردش کارها و بسترسازي براي اجرائي
                        شدن پروژه و رفع موانع اجرائي انجام پذيرفت که در ارديبهشت ماه ۸۹ پس از جذب ۱۲۰ دانش آموز در پايه
                        اول و در منطقه ۶، دبيرستان شروع به فعاليت کرد. در اين راستا، طرح تاسيس و تقويم اجرائي دبيرستان
                        با مشورت ۵ نفر از افراد با سابقه و ماهر در تعليم و تربيت نوشته شد. کارهاي اجرایي اعم از تجهيز
                        آزمايشگاه ها، کلاس ها و کارگاه هاي پژوهشي انجام شد. گروه هاي آموزشي و پژوهشي با جذب سرگروه ها از
                        بهترين هاي هر رشته در مجموعه سمپاد انجام شد و هر سال به کيفيت بخشي و اصلاح کادر و جذب بهترين
                        نيروها اقدام شد.
                    </p>
                    <!--                    <p style="font-family:Vazir-Medium"><a href="#" class="btn btn-secondary px-4 py-3">بیشتر-->
                    <!--                        بخوانید</a></p>-->
                </div>
            </div>
            <div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
                <h2 style="color:#9d6d4d ;font-family:Vazir-Bold" class="mb-4">چرا ما ؟</h2>
                <p style="font-family:Vazir-Medium; text-align: justify">
                    به روایت آمار و گفته بسیاری از فعالین حوزه سمپاد، این مرکز علاوه بر کسب نتایج بسیار درخشان درحوزه
                    های آموزشی، پژوهشی و المپیاد، به الگوی تعالی برای سایر مدارس سمپاد نیز تبدیل شده است.
                </p>
                <p style="font-family:Vazir-Medium; text-align: justify">
                    نظام آموزشی حلی۵، برگرفته از نظام آموزشی قدیم سمپاد و دارای طرح درس های پیوسته سه ساله، عمیق و
                    خلاقانه بوده که با استفاده از تجربیات اساتید برجسته و قدیمی سمپاد طراحی شده است.

                </p>
                <div class="row mt-5">
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span
                                    class="flaticon-education"></span></div>
                            <div class="text">
                                <h3 style="margin-right:5%; color:#9d6d4d ;font-family:Vazir-Bold">دستاورد های
                                    آموزشی</h3>
                                <p style="margin-right:5%; font-family:Vazir-Medium; text-align: justify">
                                    دانش آموزان حلی۵ موفق به کسب ۲ رتبه تک رقمی کشوری و
                                    ۱۳ رتبه دو رقمی منطقه یک شده اند
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span
                                    class="flaticon-diploma"></span></div>
                            <div class="text">
                                <h3 style="margin-right:5%; color:#9d6d4d ;font-family:Vazir-Bold">المپیاد های علمی</h3>
                                <p style="margin-right:5%; font-family:Vazir-Medium; text-align: justify;">
                                    دانش آموزان این مرکز در ۴ دوره موفق به کسب ۴ طلا ۳ نقره و ۱۰ برنز کشوری
                                    شده اند.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span
                                    class="flaticon-jigsaw"></span></div>
                            <div class="text">
                                <h3 style="margin-right:5%; color:#9d6d4d ;font-family:Vazir-Bold">فعالیت های
                                    پژوهشی</h3>
                                <p style="margin-right:5%; font-family:Vazir-Medium; text-align: justify;">
                                    هرساله نمایشگاه دستاوردهای پژوهشی دانش آموزان با عنوان سمینار برگزار می گردد.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-intro ftco-section ftco-counter ftco-section ftco-counter img" id="section-counter"
         style="background-image: url({% static 'images/DSC_0044_Resized.jpg' %});" data-stellar-background-ratio="0.6">
    <div class="overlay" style="width: 100%; height: 100%"></div>
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section heading-section-black ftco-animate">
                <h2 style="color:#dea44a; font-family:Vazir-Bold; text-align: center" class="mb-4">افتخارات</h2>
                <p style="font-family:Vazir-Medium; text-align: center">
                    به طور میانگین، از هر ۲۵ دانش آموزی که در حلی ۵ تحصیل کرده اند، ۸ نفر رتبه زیر ۱۰۰۰، یک نفر رتبه زیر
                    ۱۰۰ و ۱ نفر مقام کشوری/جهانی المپیاد کسب کرده است
                </p>
            </div>
        </div>
        <div class="row d-md-flex align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="row d-md-flex align-items-center">


                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong style="color:#dea44a; font-family:Vazir-Bold" class="number"
                                        data-number="5">0</strong>
                                <span style="color:white; font-family:Vazir-Bold; text-align: center">مقام مسابقات کشوری و جهانی</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong style="color:#dea44a; font-family:Vazir-Bold" class="number"
                                        data-number="119">0</strong>
                                <span style="color:white; font-family:Vazir-Bold; text-align: center">رتبه ی زیر هزار کنکور</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong style="color:#dea44a; font-family:Vazir-Bold" class="number"
                                        data-number="17">0</strong>
                                <span style="color:white; font-family:Vazir-Bold; text-align: center">مدال المپیاد</span>
                            </div>
                        </div>
                    </div>

                </div>

                <!--                <p style="text-align:center; font-family:Vazir-Medium; text-align: center"><a href="#"-->
                <!--                                                                                              class="btn btn-secondary px-4 py-3 mt-3">-->
                <!--                    بیشتر-->
                <!--                    بدانید-->
                <!--                </a></p>-->

            </div>
        </div>
    </div>
</section>
