{% load static %}

<section class="ftco-intro ftco-section ftco-counter ftco-section ftco-counter img" id="section-counter"
         style="background-image: url({% static 'images/DSC_0044_Resized.jpg' %});" data-stellar-background-ratio="0.6">
    <div class="overlay" style="width: 100%; height: 100%"></div>
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section heading-section-black ftco-animate">
                <h2 style="color:#dea44a; font-family:Vazir-Bold; text-align: center" class="mb-4">افتخارات</h2>
                <p style="font-family:Vazir-Medium; text-align: center">
                    به طور میانگین، از هر ۲۵ دانش آموزی که در حلی ۵ تحصیل کرده اند، ۸ نفر رتبه زیر ۱۰۰۰، یک نفر رتبه زیر
                    ۱۰۰ و ۱ نفر مقام کشوری/جهانی المپیاد کسب کرده است
                </p>
            </div>
        </div>
        <div class="row d-md-flex align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="row d-md-flex align-items-center">


                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong style="color:#dea44a; font-family:Vazir-Bold" class="number"
                                        data-number="5">0</strong>
                                <span style="color:white; font-family:Vazir-Bold; text-align: center">مقام مسابقات کشوری و جهانی</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong style="color:#dea44a; font-family:Vazir-Bold" class="number"
                                        data-number="119">0</strong>
                                <span style="color:white; font-family:Vazir-Bold; text-align: center">رتبه ی زیر هزار کنکور</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="icon"><span class="flaticon-doctor"></span></div>
                            <div class="text">
                                <strong style="color:#dea44a; font-family:Vazir-Bold" class="number"
                                        data-number="17">0</strong>
                                <span style="color:white; font-family:Vazir-Bold; text-align: center">مدال المپیاد</span>
                            </div>
                        </div>
                    </div>

                </div>
<!--TODO: uncomment this button-->
<!--                <p style="text-align:center; font-family:Vazir-Medium; text-align: center"><a href="{% url 'honors' %}" class="btn btn-secondary px-4 py-3 mt-3">تالار افتخارات </a></p>-->

            </div>
        </div>
    </div>
</section>
