{% extends 'base.html' %}
{% load static %}

{% block title %} دبیران | وبسایت دبیرستان دوره دوم علامه حلی ۵ تهران {% endblock %}
{% block meta_description %}
معلمان با تجربه ی سمپاد که در دبیرستان پسرانه ی علامه حلی ۵ تهران دوره دوم تدریس می کنند
{% endblock %}

{% block content %}
<section class="hero-wrap hero-wrap-2"
         style="background-image: url({% static '/images/جلسه-دبیران-دبیرستان-علامه-حلی-۵-تهران.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 style="font-family: Vazir-Bold" class="mb-2 bread">دبیران</h1>
                <p style="font-family: Vazir-Medium" class="breadcrumbs"><span class="mr-2"><a
                        href="{% url 'index' %}">صفحه نخست <i
                        class="ion-ios-arrow-back"></i></a></span> <span>دبیران<i
                        class="ion-ios-arrow-back"></i></span></p>
            </div>
        </div>
    </div>
</section>

{% for group_name, group_teachers in groups.items %}
<section class="container p-3" dir="rtl" style="font-family: Vazir-Medium;">
    <h2 class="text-center" style="font-family: Vazir-Regular;"><strong>{% if group_name == "سایر" %}
        سایر گروه ها
    {% else %}
    گروه {{ group_name }}
    {% endif %}</strong></h2>
    <div class="row container">
        {% for prf in group_teachers %}
        <div class="m-auto col-sm-6 col-md-6 col-lg-4">
            <div class="p-2 row justify-content-center text-center" dir="rtl" style="border-bottom-left-radius: 20px; border-top-right-radius: 20px;">

                <div class="col-4"
                style="background-image: url({{ prf.img.url }});
                                        border-top-right-radius: inherit;
                                        background-repeat: no-repeat;
                                        background-position: center top;
                                        background-size: cover;"></div>

                <div class="p-2 text col-8"
                style="border-bottom-left-radius: inherit;">
                    <h5><strong>{{ prf.user.first_name }} {{ prf.user.last_name }}</strong></h5>
                    <small class="text-info"><strong>{{ prf.job_title }}</strong></small>
                    <hr>
                    <small>{{ prf.description }}</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if not forloop.last %}
    <hr>
    {% endif %}
</section>
{% endfor %}

<!-- {% for group_name, group_teachers in groups.items %}
<section class="ftco-section pt-3 pb-0 bg-white">
    <div class="container">
        <h2 class="text-dark"
            style="font-family: Vazir-Medium;
                    text-align: center">
            {% if group_name == "سایر" %}
                سایر گروه ها
            {% else %}
            گروه {{ group_name }}
            {% endif %}
        </h2>
        <div class="row" style="direction: rtl">
            {% for prf in group_teachers %}
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff bg-light"
                     style="border-top-right-radius: 20px; border-bottom-left-radius: 20px;
                         box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 5px 15px 0 rgba(0, 0, 0, 0.1);">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch"
                             style="background-image: url( {{ prf.img.url }} );"></div>
                    </div>
                    <div class="text pt-3 text-center bg-light">
                        <h3 style="font-family: Vazir-Medium;
                                    text-align: center">{{ prf.user.first_name }} {{ prf.user.last_name }}</h3>
                        <span class="position mb-2"
                              style="font-family: Vazir-Medium;
                                    text-align: center">{{ prf.job_title }}</span>
                        <div class="faded">
                            <p style="font-family: Vazir-Medium;
                                    text-align: center">{{ prf.description|safe }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
    {% if not forloop.last %}
    <hr class="pt-0">
    {% endif %}
</section>
{% endfor %} -->
{% endblock %}