{% extends 'base.html' %}
{% load static %}

{% block title %} دبیران | وبسایت دبیرستان دوره دوم علامه حلی ۵ تهران {% endblock %}
{% block meta_description %}
معلمان باتجربه سمپاد که در دبیرستان دوره دوم علامه حلی پنج تهران تدریس می‌کنند
{% endblock %}

{% block content %}
<header class="hero">
    <div class="hero-image" style="background-image: url({% static '/images/جلسه-دبیران-دبیرستان-علامه-حلی-۵-تهران.jpg' %});"></div>
    <h1 class="display-3">دبیران</h1>
    <p class="fs-3 text-white text-opacity-50">
        معلمان باتجربه سمپاد که در دبیرستان دوره دوم علامه حلی ۵ تهران تدریس می‌کنند
    </p>
</header>

<main class="py-5">

    {% for group_name, group_teachers in groups.items %}
    <section class="container">
        <h2 class="mb-3">
            {% if group_name == "سایر" %}
            سایر گروه ها
            {% else %}
            گروه {{ group_name }}
            {% endif %}
        </h2>
        <div class="row container">
            {% for profile in group_teachers %}
            <div class="col col-12 col-sm-6 col-lg-4">
                <div class="py-3">
                    <div class="row gx-0">
                        <div class="col col-auto" style="width: 100px">
                            <div class="ratio" style="--bs-aspect-ratio: 133.33%">
                                <img src="{{ profile.img.url }}" alt="عکس {{ profile.user.first_name }} {{ profile.user.last_name }}" class="rounded">
                            </div>
                        </div>
                        <div class="col">
                            <div class="pe-3">
                                <h5>{{ profile.user.first_name }} {{ profile.user.last_name }}</h5>
                                <h6 class="text-secondary">{{ profile.job_title }}</h6>
                                <p class="text-muted">{{ profile.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endfor %}
</main>

{% endblock %}