{% extends 'base.html' %}
{% load static %}

{% block title %} دبیران {% endblock %}

{% block content %}

<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/DSC_0040_Resized.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 style="font-family: Vazir-Bold" class="mb-2 bread">دبیران</h1>
                <p style="font-family: Vazir-Medium" class="breadcrumbs"><span class="mr-2"><a href="index.html">صفحه اصلی <i
                        class="ion-ios-arrow-back"></i></a></span> <span>دبیران <i
                        class="ion-ios-arrow-back"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch"
                             style="background-image: url({% static 'images/teacher-1.jpg' %});"></div>
                    </div>
                    <div class="text pt-3 text-center">
                        <h3 style="font-family: Vazir-Bold" style="margin-right: 5%; margin-left: 5px">غلام غلامی</h3>
                        <span style="font-family: Vazir-Thin" class="position mb-2">دبیر</span>
                        <div class="faded">
                            <p style="font-family: Vazir-Medium" style="margin-right: 5%; margin-left: 5px">من یک کار جاه طلب و جاه طلب هستم ، اما جدا از آن آدم بسیار ساده ای هستم.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch"
                             style="background-image: url({% static 'images/teacher-2.jpg' %});"></div>
                    </div>
                    <div class="text pt-3 text-center">
                        <h3 style="font-family: Vazir-Bold" style="margin-right: 5%; margin-left: 5px">حسن روحانی</h3>
                        <span style="font-family: Vazir-Thin" class="position mb-2">حمال جامعه</span>
                        <div class="faded">
                            <p style="font-family: Vazir-Medium" style="margin-right: 5%; margin-left: 5px">من یک آدم دروغگو و پفیوز هستم</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch"
                             style="background-image: url({% static 'images/teacher-3.jpg' %});"></div>
                    </div>
                    <div class="text pt-3 text-center">
                        <h3 style="font-family: Vazir-Bold" style="margin-right: 5%; margin-left: 5px">علی محسنی</h3>
                        <span style="font-family: Vazir-Thin" class="position mb-2">دبیر هنر</span>
                        <div class="faded">
                            <p style="font-family: Vazir-Medium" style="margin-right: 5%; margin-left: 5px">من یک کار جاه طلب و جاه طلب هستم ، اما جدا از آن آدم بسیار ساده ای هستم.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch"
                             style="background-image: url({% static 'images/teacher-4.jpg' %});"></div>
                    </div>
                    <div class="text pt-3 text-center">
                        <h3 style="font-family: Vazir-Bold" style="margin-right: 5%; margin-left: 5px">کامبیز چاقالو</h3>
                        <span style="font-family: Vazir-Thin" class="position mb-2">مدیر</span>
                        <div class="faded">
                            <p style="font-family: Vazir-Medium" style="margin-right: 5%; margin-left: 5px">من یک کار جاه طلب و جاه طلب هستم ، اما جدا از آن آدم بسیار ساده ای هستم.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch"
                             style="background-image: url({% static 'images/teacher-5.jpg' %});"></div>
                    </div>
                    <div class="text pt-3 text-center">
                        <h3 style="font-family: Vazir-Bold" style="margin-right: 5%; margin-left: 5px">کیم کارداشیان</h3>
                        <span style="font-family: Vazir-Thin" class="position mb-2">مدل</span>
                        <div class="faded">
                            <p style="font-family: Vazir-Medium" style="margin-right: 5%; margin-left: 5px">من یک کار جاه طلب و جاه طلب هستم ، اما جدا از آن آدم بسیار ساده ای هستم.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch"
                             style="background-image: url({% static 'images/teacher-6.jpg' %});"></div>
                    </div>
                    <div class="text pt-3 text-center">
                        <h3 style="font-family: Vazir-Bold" style="margin-right: 5%; margin-left: 5px">مرتضی دلکش</h3>
                        <span style="font-family: Vazir-Thin" class="position mb-2">تعطیله آقا</span>
                        <div class="faded">
                            <p style="font-family: Vazir-Medium" style="margin-right: 5%; margin-left: 5px">من یک کار جاه طلب و جاه طلب هستم ، اما جدا از آن آدم بسیار ساده ای هستم.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch"
                             style="background-image: url({% static 'images/teacher-7.jpg' %});"></div>
                    </div>
                    <div class="text pt-3 text-center">
                        <h3 style="font-family: Vazir-Bold" style="margin-right: 5%; margin-left: 5px">یعقوب لیس صفاری</h3>
                        <span style="font-family: Vazir-Thin" class="position mb-2">منجم</span>
                        <div class="faded">
                            <p style="font-family: Vazir-Medium" style="margin-right: 5%; margin-left: 5px">من یک کار جاه طلب و جاه طلب هستم ، اما جدا از آن آدم بسیار ساده ای هستم.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch"
                             style="background-image: url({% static 'images/teacher-8.jpg' %});"></div>
                    </div>
                    <div class="text pt-3 text-center">
                        <h3 style="font-family: Vazir-Bold"style="margin-right: 5%; margin-left: 5px">محسن رضایی</h3>
                        <span style="font-family: Vazir-Thin" class="position mb-2">خدماتی</span>
                        <div class="faded">
                            <p style="font-family: Vazir-Medium" style="margin-right: 5%; margin-left: 5px">من یک کار جاه طلب و جاه طلب هستم ، اما جدا از آن آدم بسیار ساده ای هستم.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}