.diary {
    padding-top: 20px;
}

.diary-form {
    border: 1px solid #999;
    border-radius: 4px;
    padding: 15px 15px 5px;
    margin-bottom: 20px;
}

.diary-post {
    margin: 20px 0;
}

.diary-post:nth-child(2n+1) {
    clear: left;
}

.diary-posts {
    margin-top: 20px;
}

.diary-post__title {
    margin-top: 0;
}

.select-wrap {
    margin-top: 20px;
}
