:root {
  --bs-body-font-family: ibm plex sans arabic;
  --bs-light-rgb: 255, 252, 227;
  --bs-secondary-rgb: 55, 87, 55;
  --bs-body-bg: rgb(255, 253, 235);
  --bs-body-color-rgb: 70, 30, 20;
}

.dropdown-menu {
  --bs-dropdown-link-hover-bg: #0001;
}

svg.bi {
  width: 1em;
  height: 1em;
}

.carousel-item.active {
  display: flex;
}

.ratio > img {
  object-fit: cover;
}

.blur {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
