/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Vazir-Regular;
    src: url('../fonts/vaziri/Vazir-Black.ttf');
}

@font-face {
    font-family: Vazir-Bold;
    src: url('../fonts/vaziri/Vazir-Bold.ttf');
}

@font-face {
    font-family: Vazir-Medium;
    src: url('../fonts/vaziri/Vazir-Light.ttf');
}

@font-face {
    font-family: Vazir-Bold;
    src: url('../fonts/vaziri/Vazir-Medium.ttf');
}

@font-face {
    font-family: Vazir-Thin;
    src: url('../fonts/vaziri/Vazir-Thin.ttf');
}

html, body, .center, .bg {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background-color: #2A4324;
  color: #D7D7EF;
}

a, a:link, a:visited {
  color: #D7D7EF;
  text-decoration: none;
}

i {
  padding-right: 5px;
}

.center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.bg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -10;
}
.bg img {
  height: 400px;
  opacity: 0.1;
}

.back {
  padding: 12px 30px;
  border: 2px solid #D7D7EF;
  border-radius: 50px;
  margin-top: 50px;
  transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
}
.back:hover {
  background-color: #D7D7EF;
  color: #37385F;
}
