.hero {
  text-align: center;
  position: relative;
  color: white;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero.big {
  height: 500px;
}

.hero-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-size: cover;
  background-color: white; /* makes the filter work properly if the image is transparent */
  background-position: center center;
  filter: brightness(0.3);
}