.hero {
  text-align: center;
  position: relative;
  color: white;
  min-height: 384px;
  padding: 4rem 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero.big {
  padding: 0;
  min-height: unset;
  height: 576px;
}

.hero-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-size: cover;
  background-position: center center;
  /* makes the filter work properly if the image has a transparent background */
  background-color: white;
  filter: brightness(0.3);
}

.hero h1 {
  font-weight: 500;
}
