td, th {
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
  vertical-align: middle;
}

tr:last-child > td, th {
  border: 0 !important;
}

@media (max-width: 768px) {
  .table-container {
    height: auto !important;
  }
}

.numbers-row {
  align-items: center;
  text-align: center;
  padding-bottom: 1.5rem;
}

#prev-years .numbers-row:not(:last-child) {
  margin-bottom: 2rem;
}
