/*figure{*/
/*margin: auto;*/
/*width: 300px;*/
/*padding: 20px;*/
/*box-shadow: 5px 5px 5px gray;*/
/*transform: rotate(0deg);*/
/*transition: transform 1s;*/
/*}*/
/*figure:hover{*/
/*transform: rotate(10deg);*/
/*}*/
/*figcaption{*/
/*text-align: center;*/
/*}*/
/*img{*/
/*width: 100%;*/
/*}*/
/** Inspired by: http://graphicburger.com/flat-design-ui-components/ **/
/** Line-chart and donut-chart made by @kseso https://codepen.io/Kseso/pen/phiyL **/
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Samim', sans-serif;
    text-align: center;
    /*font-size: 38px;*/
    /*font-weight: bold;*/
    background-color: #f6f6f6;
    color: rebeccapurple;
    line-height: 1.42857;
}

h1 {
    text-align: right;
    direction: rtl;
}

h2 {
    text-align: right;
    direction: rtl;
}

h3 {
    text-align: right;
    direction: rtl;
}

h4 {
    text-align: right;
    direction: rtl;
}

h5 {
    text-align: right;
    direction: rtl;
}

h6 {
    text-align: right;
    direction: rtl;
}

p {
    text-align: right;
    direction: rtl;
}

a {
    text-align: right;
    direction: rtl;
}

.cover {
    position: relative;
    height: 97%;
    background-image: linear-gradient(to top right, #1A6844, transparent);
    background-color: #000000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo {
    height: 10em;
    width: 10.5em;
    #border: 1px solid red;
    position: fixed;
    top: 2vmax;
    left: 2vmax;
    background: url('#####');
    background-size: cover;
    background-repeat: no-repeat;
}

.nav {
    #border: 1px solid blue;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
}

.nav ul {
    list-style-type: none
}

.nav ul li {
    display: inline-block;
    font-size: 1.5em;
    padding: 0.5em 0.5em;
}

.nav a {
    text-decoration: none;
    font-size: 14px;
    color: white;
}

.fix {
    position: fixed;
    top: 0;
    transition: all, 0.5s;
    background: rgba(255, 255, 255, 0.985);
    z-index: 1;
    width: 100%;
    height: 85.59px;
    box-shadow: 0px 0px 0.5em #F2F3F4;
}

/*hide mobile links*/
ul.mobile-menu__list {
    display: none;
}

div.wrap {
    display: none;
}

/*hide mobile links*/

@media (max-width: 700px) {
    ul.mobile-menu__list {
        display: block;
    }

    nav {
        padding: 20px;
    }

    nav h1 {
        display: block;
        float: none;
        text-align: center;
        padding: 20px;
    }

    nav ul {
        float: none;
        padding: 20px;
    }

    div.nav {
        display: none;
    }

    /*mobile menu*/
    nav.mobile-menu {
        display: block;
    }

    div.wrap {
        display: block;
    }

    .mobile-menu {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-top: 10px;
        top: 0;
        background-color: #1A6844;
        left: 0;
        right: 0;
        height: 70px;
        z-index: 9999999;
    }

    .mobile-menu__btn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 30px;
        cursor: pointer;
        transition: .4s;
    }

    .mobile-menu__icon {
        display: block;
        position: relative;
        background: white;
        width: 90%;
        height: 4px;
        transition: .4s;
    }

    .mobile-menu__icon::after, .mobile-menu__icon::before {
        content: "";
        display: block;
        position: absolute;
        background: white;
        width: 100%;
        height: 4px;
        transition: .4s;
    }

    .mobile-menu__icon::after {
        top: 8px;
    }

    .mobile-menu__icon::before {
        top: -8px;
    }

    .mobile-menu__container {
        position: fixed;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50px;
        left: 0;
        right: 0;
        /*z-index: 999;*/
        height: 0;
        opacity: 1;
        transition: .5s;
        transition-delay: .2s;
        overflow: hidden;
        background-color: #1A6844;
    }

    .mobile-menu__list {
        transition: .5s;
        transition-delay: .5s;
        list-style: none;
        padding-left: 0;
        margin-top: -50px;
    }

    .mobile-menu__item {
        font-size: 26px;
        padding-bottom: 15px;
    }

    .mobile-menu__link {
        text-decoration: none;
        color: #fff;
    }

    .mobile-menu__checkbox {
        display: none;
    }

    .mobile-menu__checkbox:checked ~ .mobile-menu__nav {
        opacity: 1;
        transition-delay: 0s;
    }

    .mobile-menu__checkbox:checked ~ .mobile-menu__container {
        height: 100%;
        transition-delay: 0s;
    }

    .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
        background: transparent;
    }

    .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before, .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
        top: 0;
    }

    .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

}
