.search_content {
    position: absolute;
    margin-left: 8%;
    top: 20%;
}

.search_content.on {
    -webkit-animation-name: in-out;
    animation-name: in-out;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

input {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    background: none;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    font-family: Roboto;
    outline: 0;
    -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
    padding 0.2s;
    transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
    padding 0.2s;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
    /*-webkit-transform: translate(-100%, -50%);*/
    /*-ms-transform: translate(-100%, -50%);*/
    /*transform: translate(-100%, -50%);*/
}

.search {
    background: none;
    position: absolute;
    top: 0px;
    left: 0;
    height: 30px;
    width: 30px;
    padding: 0;
    border-radius: 100%;
    outline: 0;
    border: 0;
    color: inherit;
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    /*-webkit-transform: translate(-100%, -50%);*/
    /*-ms-transform: translate(-100%, -50%);*/
    /*transform: translate(-100%, -50%);*/
}

.search:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 3px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 17px;
    margin-left: 10px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.close {
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.close:before {
    content: "";
    position: absolute;
    width: 27px;
    height: 3px;
    margin-top: -1px;
    margin-left: -13px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.close:after {
    content: "";
    position: absolute;
    width: 27px;
    height: 3px;
    background-color: #fff;
    margin-top: -1px;
    margin-left: -13px;
    cursor: pointer;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.square {
    direction: rtl;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 10px;
    width: 220px;
    height: 30px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background: none;
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    outline: 0;
    -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
    transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
    -webkit-transition-delay: 0.4s, 0s, 0.4s;
    transition-delay: 0.4s, 0s, 0.4s;
    /*-webkit-transform: translate(-17%, -100%);*/
    /*-ms-transform: translate(-17%, -100%);*/
    /*transform: translate(-17%, -100%);*/
}

/*mobile search*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

.mobile_search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #ffffff;
    border-left: none;
    padding: 5px;
    height: 40px;
    border-radius: 0 5px 5px 0;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: #ffffff;
}

.searchButton {
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff;
    background: #f2f2f2;
    text-align: center;
    color: #1A6844;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*mobile search*/








